//|MEX|Cash|Openpay 8178|101200_"7Eleven"|-Start-
.Ticket.Ticket-eleven(data-nom-entidad="eleven")
  //- .Ticket-title Ticket de Pago
  .Ticket-guia
    .guia-content Paga al <span class="blue">servicio Paynet</span>. Lleva las instrucciones y muéstralas al personal de 7 Eleven.
  .Ticket-content
    .Ticket-codigo
      .row
        span.text Número de referencia
      .row.imagen-barras
        span.text
          img(src="https://gateway.safetypay.com/Partners/openpay/barcode/640026", alt="Código de barras")
      .row 
        span.text.strong 2808-4333-6929-0819-2228
    .Ticket-total
      .Ticket-total-detalle
        .row
          p.label Total:
          h2.value $ 536.99
    .Ticket-tiempo
      .tiempo-mensaje
        b Tienes:
      .tiempo-reloj
        i.icon-clock
        span#timer_hor_1 183h
        span.divisor :
        span#timer_min_1(data-minutos='58') 58m
        span.divisor :
        span#timer_seg_1 24s
      .tiempo-mensaje Paga antes del 20 Oct 2018 - 23:35 hrs.
  .Ticket-terminos
    span <input type="checkbox" checked="checked"> 
    span Ver <a href="#">Términos y Condiciones</a> y <a href="#">políticas de privacidad</a>
    span El total incluye $ 1.20 por costos operativos
  include ../../../envio-instrucciones/envio-instrucciones-efectivo.pug
//|MEX|Cash|Openpay 8178|101200_"7Eleven"|-End-