//SlideFinancieras: Pago por internet - Sucursal
.SlideFinancieras.SlideFinancieras--generos.is-visible(data-nom="generos")
  //- h1.SlideFinancieras-title Selecciona tu banco
  .SlideFinancieras-slideWrapper
    .SlideFinancieras-listButtons    
    .SlideFinancieras-list
      each val in [1]
        .SlideFinancieras-item
          .link-wrapper
            a.link.seleccionado(href="#", data-nom-entidad="grunge")
              img(src="img/generos/grunge.jpg", alt="grunge")
          .link-wrapper
            a.link(href="#", data-nom-entidad="funk")
              img(src="img/generos/funk.jpg", alt="funk")
          .link-wrapper
            a.link(href="#", data-nom-entidad="ska")
              img(src="img/generos/ska.jpg",  alt="ska")
          .link-wrapper
            a.link(href="#", data-nom-entidad="blues")
              img(src="img/generos/blues.jpg",  alt="blues")
        .SlideFinancieras-item        
          .link-wrapper
            a.link(href="#", data-nom-entidad="reggae")
              img(src="img/generos/reggae.jpg",  alt="reggae")
        
