//SlideFinancieras: Pago por internet - Sucursal
.SlideFinancieras.SlideFinancieras--ciudades.is-visible(data-nom="ciudades")
  //- h1.SlideFinancieras-title Selecciona tu banco
  .SlideFinancieras-slideWrapper
    .SlideFinancieras-listButtons    
    .SlideFinancieras-list
      each val in [1]
        .SlideFinancieras-item
          .link-wrapper
            a.link.seleccionado(href="#", data-nom-entidad="arequipa")
              img(src="img/ciudades/arequipa.jpg", alt="arequipa")
          .link-wrapper
            a.link(href="#", data-nom-entidad="ayacucho")
              img(src="img/ciudades/ayacucho.jpg", alt="ayacucho")
          .link-wrapper
            a.link(href="#", data-nom-entidad="cajamarca")
              img(src="img/ciudades/cajamarca.jpg",  alt="cajamarca")
          .link-wrapper
            a.link(href="#", data-nom-entidad="chiclayo")
              img(src="img/ciudades/chiclayo.jpg",  alt="chiclayo")
        .SlideFinancieras-item        
          .link-wrapper
            a.link(href="#", data-nom-entidad="chimbote")
              img(src="img/ciudades/chimbote.jpg",  alt="chimbote")
          .link-wrapper
            a.link(href="#", data-nom-entidad="huacho")
              img(src="img/ciudades/huacho.jpg", alt="Huacho")
          .link-wrapper
            a.link(href="#", data-nom-entidad="huancayo")
              img(src="img/ciudades/huancayo.jpg", alt="Huancayo")
          .link-wrapper
            a.link(href="#", data-nom-entidad="huanuco")
              img(src="img/ciudades/huanuco.jpg", alt="Huanuco")
        .SlideFinancieras-item        
          .link-wrapper
            a.link(href="#", data-nom-entidad="huaraz")
              img(src="img/ciudades/huaraz.jpg",  alt="huaraz")
          .link-wrapper
            a.link(href="#", data-nom-entidad="ica")
              img(src="img/ciudades/ica.jpg", alt="ica")
          .link-wrapper
            a.link(href="#", data-nom-entidad="iquitos")
              img(src="img/ciudades/iquitos.jpg", alt="iquitos")
          .link-wrapper
            a.link(href="#", data-nom-entidad="laoroya")
              img(src="img/ciudades/laoroya.jpg", alt="la oroya")
        
