.CountriesDropdown
  select.CountriesDropdown__select(name='countries')
    option(value='al', data-imagecss='al', data-title='Alemania') AL
    option(value='aus', data-imagecss='aus', data-title='Austria') AUS
    option(value='br', data-imagecss='br', data-title='Brasil') BRA
    option(value='ca', data-imagecss='ca', data-title='Canada') CAN
    option(value='chi', data-imagecss='chi', data-title='Chile') CHL
    option(value='co', data-imagecss='co', data-title='Colombia') COL
    option(value='cr', data-imagecss='cr', data-title='Costa Rica') CRI
    option(value='ecu', data-imagecss='ecu', data-title='Ecuador') ECU
    option(value='esp', data-imagecss='esp', data-title='España') ESP
    option(value='gua', data-imagecss='gt', data-title='Guatemala') GTM
    option(value='hn', data-imagecss='hon', data-title='Honduras') HND
    option(value='hol', data-imagecss='hol', data-title='Holanda') HOL
    option(value='ita', data-imagecss='ita', data-title='Italia') ITA
    option(value='mex', data-imagecss='mx', data-title='Mexico', selected) MEX
    option(value='nic', data-imagecss='ni', data-title='Nicaragua') NIC
    option(value='pa', data-imagecss='pa', data-title='Panama') PAN
    option(value='pe', data-imagecss='pe', data-title='Peru') PER
    option(value='por', data-imagecss='por', data-title='Portugal') PRT
    option(value='salv', data-imagecss='sv', data-title='El salvador') SLV
    option(value='usa', data-imagecss='us', data-title='USA') USA
    
