//Start Funk
.Ticket(data-nom-entidad="funk")
  .Ticket-title Funk hecho en el Perú
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>51</span> bandas de Funk hecho en el Perú. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 
        span 1. Acid Hamelin
        <a href="http://youtu.be/EkBJpjPnmB4" target="_blank">►</a>          
      h3 
        span 2. Mezcal 
        a(href="http://youtu.be/5Z3lSz94SlM", target="_blank") ► 
      h3 
        span 3. La Roja 
        a(href="http://youtu.be/0TfqwHGNSpM", target="_blank") ► 
      h3 
        span 4. La Sonora BeatBox 
        a(href="http://youtu.be/XmJplRPwvLU", target="_blank") ► 
      h3 
        span 5. Cinco esquinas   
        a(href="https://myspace.com/5esquinas/music/songs", target="_blank") ► 
      h3 
        span 6. Big Pollo
        a(href="http://youtu.be/0skwH0BdQMU", target="_blank") ► 
      h3 
        span 7. Diablos Azules 
        a(href="http://youtu.be/X2wdpadrcSs", target="_blank") ► 
      h3 
        span 8. Mader Funker 
        a(href="http://youtu.be/h9hkR68TXO0", target="_blank") ► 
      h3 
        span 9. Vanilla Funk 
        a(href="http://youtu.be/0gVrJSzaRRo", target="_blank") ► 
      h3 
        span 10. La Chicharra Paralizadora
        a(href="http://youtu.be/NDsAMMOoUpU", target="_blank") ► 
      h3 
        span 11. Chingo Dingo 
        a(href="http://chingodingo.bandcamp.com/", target="_blank") ► 
      h3 
        span 12. Katana Funk (Arequipa)
        a(href="http://youtu.be/uZ23jGe03xA", target="_blank") ► 
      h3 
        span 13. Los Freaks (Arequipa) 
        a(href="https://soundcloud.com/frank-valdivia-manrique/freak-los-freaks", target="_blank") ► 
      h3 
        span 14. Tupac YuFunky (Arequipa)
        a(href="http://youtu.be/2177icYcA3U", target="_blank") ► 
      h3 
        span 15. Supremacía Terrenal (Tarapoto)
        a(href="http://youtu.be/XiVUHeVNdFw", target="_blank") ► 
      h3 
        span 16. Algopositivo Funk
        a(href="http://youtu.be/iF0H1UTmFYI", target="_blank") ► 
      h3 
        span 17. Claveles y Rockas
        a(href="http://youtu.be/sZAHD5mrLfk", target="_blank") ► 
      h3 
        span 18. Camarón Jackson
        a(href="http://youtu.be/hD_TVOPXfH8", target="_blank") ► 
      h3 
        span 19. La Fankmilia 
        a(href="https://youtu.be/s9eo3itLSTk", target="_blank") ► 
      h3 
        span 20. Cristina Valentina
        a(href="https://play.spotify.com/track/7qIUq2ZmOmoBUObSr0bXLc", target="_blank") ►     
      h3 
        span 21. Naiara Es
        a(href="http://naiaraes.bandcamp.com/track/guerreros-de-luz", target="_blank") ► 
      h3 
        span 22. Maywa
        a(href="http://youtu.be/QiaZ1QsOfX0", target="_blank") ► 
      h3 
        span 23. Migajas 
        a(href="http://youtu.be/QMuojJv5JJ4", target="_blank") ► 
      h3 
        span 24. Soniverso
        a(href="http://youtu.be/0HzILVeoWE4", target="_blank") ► 
      h3 
        span 25. Stress Rock
        a(href="https://soundcloud.com/stressmusica/stress", target="_blank") ► 
      h3 
        span 26. EUTRES
        a(href="http://youtu.be/sCkhZHgB1KM", target="_blank") ► 
      h3 
        span 27. Chango Fuera 
        a(href="http://youtu.be/oFMSfiQWKdY", target="_blank") ► 
      h3 
        span 28. Dmente Comun
        a(href="http://youtu.be/isyen29sONA", target="_blank") ► 
      h3 
        span 29. Los Plátanos
        a(href="http://youtu.be/2RJardZ1DLg", target="_blank") ► 
      h3 
        span 30. ROCKOTO (Chiclayo) 
        a(href="http://youtu.be/ktDuhfCySS8", target="_blank") ► 
      h3 
        span 31. Hnos. Brothers 
        a(href="http://youtu.be/DmdEuBUE-q0", target="_blank") ► 
      h3 
        span 32. Soulsodromo Fonk 
        a(href="http://youtu.be/gtxKnhj4-bg", target="_blank") ► 
      h3 
        span 33. Kobra Kai 
        a(href="https://www.facebook.com/photo.php?v=10151490861653721", target="_blank") ► 
      h3 
        span 34. POOOW!
        a(href="https://youtu.be/ynusytd3gV4", target="_blank") ► 
      h3 
        span 35. ACHKIRIK 
        a(href="https://soundcloud.com/achkirik", target="_blank") ► 
    .row
      h3 
        span 36. JEFRY 
        a(href="https://open.spotify.com/album/7L06GmbLn0nL17B35PgRbU", target="_blank") ► 
      h3 
        span 37. Perros Santos
        a(href="https://youtu.be/ws4gwJN5dzo", target="_blank") ► 
      h3 
        span 38. Mr. Gravity 
        a(href="https://youtu.be/sleSB_M65uY", target="_blank") ► 
      h3 
        span 39. Vanie
        a(href="https://soundcloud.com/vaniemusic", target="_blank") ► 
      h3 
        span 40. PEPE Le FUNK (Cusco)
        a(href="https://youtu.be/Hj5NokRkmb4", target="_blank") ► 
      h3 
        span 41. Drillomachine (Arequipa)
        a(href="https://youtu.be/IvaSf148iZM", target="_blank") ► 
      h3 
        span 42. Fusiorama
        a(href="https://youtu.be/hl2qqOLh8EU", target="_blank") ► 
      h3 
        span 43. ¿Cuándo y Dónde?
        a(href="https://www.reverbnation.com/cuándoydónde7", target="_blank") ► 
      h3 
        span 44. Innfusion 
        a(href="https://open.spotify.com/artist/0QMoa8UmHildxlMhPJSnHl", target="_blank") ► 
      h3 
        span 45. Black Sugar 
        a(href="http://youtu.be/VGFmKEYYbec", target="_blank") ► 
      h3 
        span 46. Bossa 70
        a(href="http://youtu.be/iWUl4qR9oKE", target="_blank") ►  
      h3 
        span 47. La Kábala 
        a(href="http://youtu.be/_WoZDuaVOjY", target="_blank") ► 
      h3 
        span 48. Daniel Quiñones
        a(href="http://youtu.be/LI7MQs239x4", target="_blank") ► 
      h3 
        span 49. Da Lupune 
        a(href="http://youtu.be/SelXKKqBLeg", target="_blank") ► 
      h3 
        span 50. Elemento Sospechoso 
        a(href="https://soundcloud.com/elemento-sospechoso/so-good-remix-too-late-black", target="_blank") ►  
      h3 
        span 51. LOUXE 
        a(href="https://soundcloud.com/iamlouxe/sets/jump-single", target="_blank") ► 
//End Funk