//Start Grunge
.Ticket.is-visible(data-nom-entidad="grunge")
  .Ticket-title Grunge hecho en el Perú
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>71</span> bandas de Grunge hecho en el Perú. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Huelga de hambre</span>
        <a href="http://youtu.be/NxRKbtpOVbw" target="_blank">►</a>          
      h3 <span>2. Actitud Frenética </span>
        a(href="http://youtu.be/jAr8jKEiabc", target="_blank") ► 
      h3 <span>3. Arcana Perú </span>
        a(href="http://youtu.be/wx8GduzGs8M", target="_blank") ► 
      h3 <span>4. Banda SoMa </span>
        a(href="http://youtu.be/wJyeFygIDqA", target="_blank") ► 
      h3 <span>5. Planeador <span>(Arequipa) </span> 
        a(href="http://youtu.be/jRHPZbeb-S8", target="_blank") ► 
      h3 <span>6. Matando tu F.E </span>
        a(href="http://youtu.be/ESDnXTZr8go", target="_blank") ► 
      h3 <span>7. Valium </span>
        a(href="http://youtu.be/ocymj0KyJaA", target="_blank") ► 
      h3 <span>8. Scream </span>
        a(href="http://youtu.be/d-1PuxxWENg", target="_blank") ► 
      h3 <span>9. Vertical </span>
        a(href="http://www.pervertical.com/", target="_blank") ► 
      h3 <span>10. GAIA </span>
        a(href="http://youtu.be/KkSlPSWYPEQ", target="_blank") ► 
      h3 <span>11. Genoma </span>
        a(href="http://youtu.be/dtvOCmMJdo8", target="_blank") ► 
      h3 <span>12. Aeria </span>
        a(href="http://youtu.be/kpEOhMGAP8w", target="_blank") ► 
      h3 <span>13. Exentos </span>
        a(href="http://youtu.be/rkcGGxvIeXI", target="_blank") ► 
      h3 <span>14. Mahatma Rock Perú </span>
        a(href="http://youtu.be/enMCT3ULTwo", target="_blank") ► 
      h3 <span>15. E.T.C </span>
        a(href="http://youtu.be/FUDiYluW8KU", target="_blank") ► 
      h3 <span>16. Nidevainas </span>
        a(href="http://www.myspace.com/nidevainas", target="_blank") ► 
      h3 <span>17. Radiomotor </span>
        a(href="http://youtu.be/dUt5vXaBBdg", target="_blank") ► 
      h3 <span>18. BloodOf Fools </span>
        a(href="http://youtu.be/hD_TVOPXfH8", target="_blank") ► 
      h3 <span>19. Totem </span>
        a(href="http://youtu.be/2w9QDsIer3Q", target="_blank") ► 
      h3 <span>20. Detonador (Arequipa) </span>
        a(href="http://youtu.be/mTdQcwHCx80", target="_blank") ►     
      h3 <span>21. OLAF </span>
        a(href="http://youtu.be/bNpJuaXu0H8", target="_blank") ► 
      h3 <span>22. Cicuta (Huancayo) </span>
        a(href="http://youtu.be/nfzAuCVC2Kg", target="_blank") ► 
      h3 <span>23. Arbol de Fuego </span>
        a(href="http://youtu.be/OhziO5z4aZc", target="_blank") ► 
      h3 <span>24. Liken </span>
        a(href="http://youtu.be/GPsJpeDH9XQ", target="_blank") ► 
      h3 <span>25. Mauser </span>
        a(href="http://youtu.be/qjmSJRKUF3U", target="_blank") ► 
      h3 <span>26. Emergency Blanket </span>
        a(href="http://youtu.be/tvhsxZiW_7I", target="_blank") ► 
      h3 <span>27. Kuraka </span>
        a(href="http://youtu.be/uZTG4YExdDk", target="_blank") ► 
      h3 <span>28. Abulia</span>
        a(href="https://www.youtube.com/watch?v=vtX9qOQSIbk", target="_blank") ► 
      h3 <span>29. Los Beatniks </span>
        a(href="https://www.youtube.com/watch?v=jmaFpszwK4s", target="_blank") ► 
      h3 <span>30. Retroacción</span>
        a(href="https://www.youtube.com/watch?v=fmDF4luh9fY", target="_blank") ► 
      h3 <span>31. Malhaber </span>
        a(href="https://www.youtube.com/watch?v=rzEMqZArMzk", target="_blank") ► 
      h3 <span>32. Cruz de hierro </span>
        a(href="https://www.youtube.com/watch?v=gNCI_r3txIM", target="_blank") ► 
      h3 <span>33. Dura sangre </span>
        a(href="https://www.youtube.com/watch?v=mNRqfxFPMlo", target="_blank") ► 
      h3 <span>34. QuoVadis </span>
        a(href="https://www.youtube.com/watch?v=flSghWNtp8o", target="_blank") ► 
      h3 <span>35. Muertos tus sueños </span>
        a(href="https://www.youtube.com/watch?v=RaRJUx4xkeg", target="_blank") ► 
    .row
      h3 <span>36. El monje loco </span>
        a(href="https://www.youtube.com/watch?v=Vq_DRVhfYPE", target="_blank") ► 
      h3 <span>37. Transmigración</span>
        a(href="https://www.youtube.com/watch?v=ecWtDVTmp7E", target="_blank") ► 
      h3 <span>38. Trash Médula (Arequipa)</span>
        a(href="https://youtu.be/Ya1fBRMRo5Q", target="_blank") ► 
      h3 <span>39. Soda Caustica</span>
        a(href="https://www.youtube.com/watch?v=RsMS9Gka2rI", target="_blank") ► 
      h3 <span>40. Viejos necios </span>
        a(href="https://www.youtube.com/watch?v=8OrpApQnYDM", target="_blank") ► 
      h3 <span>41. J.A.M</span>
        a(href="https://www.youtube.com/watch?v=k-YwGj1b1qw", target="_blank") ► 
      h3 <span>42. Camuflaje </span>
        a(href="https://www.youtube.com/watch?v=vnFOKv0rLp4", target="_blank") ► 
      h3 <span>43. SlanFer </span>
        a(href="http://youtu.be/kZw562aekms", target="_blank") ► 
      h3 <span>44. Atomos De SION </span>
        a(href="http://youtu.be/w-N4ysNVyW0", target="_blank") ► 
      h3 <span>45. Plaza cutervo 
        a(href="https://www.youtube.com/watch?v=JMhRXGc3tgI", target="_blank") ► 
      h3 <span>46. Them Barrels </span>
        a(href="https://soundcloud.com/thembarrels", target="_blank") ►  
      h3 <span>47. Milf </span>
        a(href="https://youtu.be/gcwYlUDqsnQ", target="_blank") ► 
      h3 <span>48. Deadkatz </span>
        a(href="https://youtu.be/yrB1qlYCfT0", target="_blank") ► 
      h3 <span>49. La Cápsula </span>
        a(href="https://youtu.be/LVjlOQ6ephg", target="_blank") ► 
      h3 <span>50. Qvimera </span>
        a(href="https://youtu.be/VHc2EPsVYos", target="_blank") ►  
      h3 <span>51. Muro de Balas </span>
        a(href="https://youtu.be/u21CGxeR-vU", target="_blank") ► 
      h3 <span>52. Black Lion </span>
        a(href="http://youtu.be/D2aAdf9_5rM", target="_blank") ► 
      h3 <span>53. Altervox </span>
        a(href="https://soundcloud.com/altervox", target="_blank") ► 
      h3 <span>54. Conspiracy </span>
        a(href="https://youtu.be/I-Qc2vNkehU", target="_blank") ► 
      h3 <span>55. Navaja </span>
        a(href="https://soundcloud.com/navajaperu", target="_blank") ► 
      h3 <span>56. Asilo Arkham </span>
        a(href="https://youtu.be/XrrauK1HdpA", target="_blank") ► 
      h3 <span>57. Patito de Hule </span>
        a(href="https://youtu.be/-oXRpr5iSE8", target="_blank") ► 
      h3 <span>58. Lupanar Rock </span>
        a(href="https://youtu.be/NnL5BoptbnA", target="_blank") ► 
      h3 <span>59. Pradhana <span>(rock alternativo) </span>
        a(href="https://soundcloud.com/pradhanaofficial", target="_blank") ►  
      h3 <span>60. The Guinea Pigs </span>
        a(href="https://soundcloud.com/theguineapigsrockperu", target="_blank") ► 
      h3 <span>61. Mercado Negro </span>
        a(href="https://soundcloud.com/mercado-negro-band", target="_blank") ► 
      h3 <span>62. _bas </span>
        a(href="http://bastardo-anti-social.bandcamp.com/", target="_blank") ► 
      h3 <span>63. Mo.No  </span>
        a(href="https://soundcloud.com/mo-no-14", target="_blank") ►  
      h3 <span>64. Siatica Rock (Ayacucho) </span>
        a(href="https://youtu.be/qDxbU3bmbF8", target="_blank") ► 
      h3 <span>65. @bLuNdEr </span>
        a(href="https://soundcloud.com/blunderplus", target="_blank") ► 
      h2 BONUS
      p Bandas de otros géneros haciendo grunge      
      h3 <span>66. G3 </span>
        a(href="http://youtu.be/lA9FWefmqtQ", target="_blank") ► 
      h3 <span>67. ...Por Hablar </span>
        a(href="http://youtu.be/5drSmhaoAGw", target="_blank") ►  
      h3 <span>68. Dmente Comun </span>
        a(href="http://youtu.be/sdalQwsxNRY", target="_blank") ► 
      h3 <span>69. Los Zopilotes </span>
        a(href="http://youtu.be/o3a42Xq0jPA", target="_blank") ► 
      h3 <span>70. Rafo Ráez </span>
        a(href="http://youtu.be/8b1BcclxOF0", target="_blank") ► 
      h3 <span>71. The Jam Sex Roller </span>
        a(href="http://youtu.be/lKfW-R-07KM", target="_blank") ► 
//End Grunge