//Start Ska
.Ticket(data-nom-entidad="ska")
  .Ticket-title Ska hecho en el Perú
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>67</span> bandas de Ska hecho en el Perú. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 
        span 1. Vieja Skina
        <a href="http://youtu.be/umv0jWZxp_E" target="_blank">►</a>          
      h3 
        span 2. Bareto 
        a(href="http://youtu.be/lEhUPZMhdh0", target="_blank") ► 
      h3 
        span 3. Barrio Calavera 
        a(href="http://youtu.be/MrIBCE4QtFQ", target="_blank") ► 
      h3 
        span 4. La Maldita Costumbre Ska 
        a(href="http://youtu.be/j19doQGQPjI", target="_blank") ► 
      h3 
        span 5. Carnaval Patético   
        a(href="http://youtu.be/9GSYHrSAhUw", target="_blank") ► 
      h3 
        span 6. Skantineros
        a(href="http://youtu.be/oGXJMqUYCmk", target="_blank") ► 
      h3 
        span 7. Danny Zka y los Malafama
        a(href="http://youtu.be/W-o9WkxzBVU", target="_blank") ► 
      h3 
        span 8. JAS
        a(href="http://youtu.be/bzkf7Dx-Xxc", target="_blank") ► 
      h3 
        span 9. Ivonne y los Mercantiles 
        a(href="http://youtu.be/g3rOsNqtgMs", target="_blank") ► 
      h3 
        span 10. Mundo raro
        a(href="http://youtu.be/OwkoZZAc5vs", target="_blank") ► 
      h3 
        span 11. Los Zopilotes 
        a(href="http://youtu.be/vJfO8pfeAgY", target="_blank") ► 
      h3 
        span 12. Barrio Pamará 
        a(href="http://youtu.be/osU8hpmenKo", target="_blank") ► 
      h3 
        span 13. Sagrada Vagancia
        a(href="http://youtu.be/eWdWd-fwjB0", target="_blank") ► 
      h3 
        span 14. La Mayor Ska 
        a(href="http://youtu.be/M_GCUcmvvgY", target="_blank") ► 
      h3 
        span 15. Malauero
        a(href="http://youtu.be/eju1GZ5Yr7Y", target="_blank") ► 
      h3 
        span 16. Los Vespa
        a(href="http://youtu.be/gnY5skn6eXw", target="_blank") ► 
      h3 
        span 17. Diablos Azules
        a(href="http://youtu.be/ciLhdViVvSY", target="_blank") ► 
      h3 
        span 18. Los Yacks
        a(href="http://youtu.be/I1r1idKeC24", target="_blank") ► 
      h3 
        span 19. Olaya Sound System
        a(href="http://youtu.be/8vWeIhdqE5U", target="_blank") ► 
      h3 
        span 20. La Fuerza Skalactica </span>
        a(href="http://youtu.be/9qxiME2D61A", target="_blank") ►     
      h3 
        span 21. La Sonora Rebelión
        a(href="http://youtu.be/PSR9oxxCI6s", target="_blank") ► 
      h3 
        span 22. La Gorra Negra </span>
        a(href="http://youtu.be/n-gehL_uknE", target="_blank") ► 
      h3 
        span 23. Brandy Chango 
        a(href="http://youtu.be/4c3UkOOvwoI", target="_blank") ► 
      h3 
        span 24. Sonora Caverna 
        a(href="http://youtu.be/wezAmm4nKjo", target="_blank") ► 
      h3 
        span 25. Cholo Machine
        a(href="http://youtu.be/ERzkqiuy6i0", target="_blank") ► 
      h3 
        span 26. Wanarpo Macho
        a(href="http://youtu.be/aNAgyXGuFrc", target="_blank") ► 
      h3 
        span 27. Chingo Dingo 
        a(href="https://myspace.com/chingodingo", target="_blank") ► 
      h3 
        span 28. La Mente
        a(href="http://youtu.be/q5BL9qcksYw", target="_blank") ► 
      h3 
        span 29. Rafo Ráez &#38; Los Paranoias 
        a(href="http://youtu.be/echru1z5hkmr", target="_blank") ► 
      h3 
        span 30. Mr. Pucho 
        a(href="https://www.youtube.com/watch?v=rWNXL4pUVig", target="_blank") ► 
      h3 
        span 31. X Dinero 
        a(href="https://youtu.be/hsUgiE2iKpU", target="_blank") ► 
      h3 
        span 32. Los Chutos 
        a(href="https://youtu.be/vQYMxDyq9Lc", target="_blank") ► 
      h3 
        span 33. Bulla Sucia
        a(href="https://youtu.be/ktOKmEZMnZI", target="_blank") ► 
      h3 
        span 34. Patio Plomo
        a(href="http://youtu.be/jmdqmc1jble", target="_blank") ► 
    .row
      h2 SKA PUNK      
      h3 
        span 35. Psicosis 
        a(href="http://youtu.be/h9Fkhx-8L3Y", target="_blank") ► 
      h3 
        span 36. El Ghetto 
        a(href="http://youtu.be/LIyJCFzZ8ow", target="_blank") ►  
      h3 
        span 37. Suda 
        a(href="http://youtu.be/JHA3rRkovuE", target="_blank") ► 
      h3 
        span 38. Antiestatika 
        a(href="https://youtu.be/KOTM78es1xQ", target="_blank") ► 
      h3 
        span 39. Insecto Urbano 
        a(href="https://youtu.be/nODQJhpwq1M", target="_blank") ► 
      h3 
        span 40. Petipunk
        a(href="https://youtu.be/eIcsnXKcSK4", target="_blank") ► 
      h3 
        span 41. Yankenpunk
        a(href="http://youtu.be/1JSbvlh976g", target="_blank") ► 
      h3 
        span 42. Los Mortero 
        a(href="http://youtu.be/MPw19YG1hJ8", target="_blank") ►  
      h3 
        span 43. Adictos al Bidet
        a(href="http://youtu.be/HqsFNiOUQLQ", target="_blank") ► 
      h3 
        span 44. Luis Guzmán 
        a(href="http://youtu.be/9r-UpE7xM8Y", target="_blank") ► 
      h3 
        span 45. Kade 
        a(href="https://soundcloud.com/kade-kallao/kade-otra-vez-la-misma", target="_blank") ► 
      h3 
        span 46. Kaos &#38; Desorden
        a(href="https://youtu.be/eIcsnXKcSK4", target="_blank") ►
      h3 
        span 47. Mxgre
        a(href="http://youtu.be/YgZf0kUBHZU", target="_blank") ► 
      h3 
        span 48. Suicidas
        a(href="http://youtu.be/r4zj1aU-tpU", target="_blank") ► 
      h3 
        span 49. Nexxxo
        a(href="http://youtu.be/GhTSYoUPJ5U", target="_blank") ► 
      h3 
        span 50. NSTOK 
        a(href="http://youtu.be/bZfOqwIG4R4", target="_blank") ►  
      h3 
        span 51. Na que ver
        a(href="http://youtu.be/0cS_5gcASOA", target="_blank") ► 
      h3 
        span 52. Nada Ni Nadie 
        a(href="http://youtu.be/pZ1GhzqyEtk", target="_blank") ► 
      h3 
        span 53. Resistencia 72 
        a(href="http://youtu.be/FENtrXtnLXU", target="_blank") ► 
      h3 
        span 54. Los Carpinteros
        a(href="http://youtu.be/-5mFtzJKKAg", target="_blank") ►
      h3 
        span 55. Skats
        a(href="https://soundcloud.com/skatspunk/skats-perro-skabron", target="_blank") ►
      h3 
        span 56. Los R-puestos
        a(href="https://soundcloud.com/andresbelzusarri/los-repuestos-pasado-sin", target="_blank") ► 
      h3 
        span 57. Kaliko y los Kaliches
        a(href="http://youtu.be/qbCwpmkutXE", target="_blank") ► 
      h3 
        span 58. Llantas Negras
        a(href="http://youtu.be/hsUgiE2iKpU", target="_blank") ► 
      h3 
        span 59. Punk Waro 
        a(href="http://youtu.be/NepU9Aj9Vl4", target="_blank") ►
      h2 SKA CORE  
      h3 
        span 60. Asmereir
        a(href="http://youtu.be/o9v6-KCqV8g", target="_blank") ► 
      h3 
        span 61. Rat Brain Dub Sound System 
        a(href="http://youtu.be/0TzQLV9MBSI", target="_blank") ► 
      h3 
        span 62. Veo Gente Muerta
        a(href="http://veogentemuerta.bandcamp.com/", target="_blank") ► 
      h3 
        span 63. Caviares
        a(href="http://youtu.be/IKQUuDsqZXY", target="_blank") ►
      h3 
        span 64. Los Reptiles
        a(href="http://losreptiles.bandcamp.com/track/sangre", target="_blank") ► 
      h3 
        span 65. Pura Mer-K
        a(href="http://youtu.be/vU4XQOiGYkQ", target="_blank") ►
      h2 SKABILLY
      h3 
        span 66. Turbopótamos
        a(href="http://youtu.be/L-GdL4AWKiE", target="_blank") ► 
      h3 
        span 67. Vaselina
        a(href="https://www.youtube.com/watch?v=jKFYdAp-4j0", target="_blank") ►
//End Ska