//Start Grunge
.Ticket.is-visible(data-nom-entidad="grunge")
  .Ticket-title Grunge hecho en el Perú
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>71</span> bandas de Grunge hecho en el Perú. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Huelga de hambre</span>
        <a href="http://youtu.be/NxRKbtpOVbw" target="_blank">►</a>          
      h3 <span>2. Actitud Frenética 
        a(href="http://youtu.be/jAr8jKEiabc", target="_blank") ► 
      h3 <span>3. Arcana Perú 
        a(href="http://youtu.be/wx8GduzGs8M", target="_blank") ► 
      h3 <span>4. Banda SoMa 
        a(href="http://youtu.be/wJyeFygIDqA", target="_blank") ► 
      h3 <span>5. Planeador <span>(Arequipa) </span> 
        a(href="http://youtu.be/jRHPZbeb-S8", target="_blank") ► 
      h3 <span>6. Matando tu F.E 
        a(href="http://youtu.be/ESDnXTZr8go", target="_blank") ► 
      h3 <span>7. Valium 
        a(href="http://youtu.be/ocymj0KyJaA", target="_blank") ► 
      h3 <span>8. Scream 
        a(href="http://youtu.be/d-1PuxxWENg", target="_blank") ► 
      h3 <span>9. Vertical 
        a(href="http://www.pervertical.com/", target="_blank") ► 
      h3 <span>10. GAIA 
        a(href="http://youtu.be/KkSlPSWYPEQ", target="_blank") ► 
      h3 <span>11. Genoma 
        a(href="http://youtu.be/dtvOCmMJdo8", target="_blank") ► 
      h3 <span>12. Aeria 
        a(href="http://youtu.be/kpEOhMGAP8w", target="_blank") ► 
      h3 <span>13. Exentos 
        a(href="http://youtu.be/rkcGGxvIeXI", target="_blank") ► 
      h3 <span>14. Mahatma Rock Perú 
        a(href="http://youtu.be/enMCT3ULTwo", target="_blank") ► 
      h3 <span>15. E.T.C 
        a(href="http://youtu.be/FUDiYluW8KU", target="_blank") ► 
      h3 <span>16. Nidevainas 
        a(href="http://www.myspace.com/nidevainas", target="_blank") ► 
      h3 <span>17. Radiomotor 
        a(href="http://youtu.be/dUt5vXaBBdg", target="_blank") ► 
      h3 <span>18. BloodOf Fools 
        a(href="http://youtu.be/hD_TVOPXfH8", target="_blank") ► 
      h3 <span>19. Totem 
        a(href="http://youtu.be/2w9QDsIer3Q", target="_blank") ► 
      h3 <span>20. Detonador (Arequipa) </span>
        a(href="http://youtu.be/mTdQcwHCx80", target="_blank") ►     
      h3 <span>21. OLAF 
        a(href="http://youtu.be/bNpJuaXu0H8", target="_blank") ► 
      h3 <span>22. Cicuta (Huancayo) </span>
        a(href="http://youtu.be/nfzAuCVC2Kg", target="_blank") ► 
      h3 <span>23. Arbol de Fuego 
        a(href="http://youtu.be/OhziO5z4aZc", target="_blank") ► 
      h3 <span>24. Liken 
        a(href="http://youtu.be/GPsJpeDH9XQ", target="_blank") ► 
      h3 <span>25. Mauser 
        a(href="http://youtu.be/qjmSJRKUF3U", target="_blank") ► 
      h3 <span>26. Emergency Blanket 
        a(href="http://youtu.be/tvhsxZiW_7I", target="_blank") ► 
      h3 <span>27. Kuraka 
        a(href="http://youtu.be/uZTG4YExdDk", target="_blank") ► 
      h3 <span>28. Abulia
        a(href="https://www.youtube.com/watch?v=vtX9qOQSIbk", target="_blank") ► 
      h3 <span>29. La vie 
        a(href="http://youtu.be/echru1z5hkmr", target="_blank") ► 
      h3 <span>30. Legión sacra 
        a(href="https://www.youtube.com/watch?v=rWNXL4pUVig", target="_blank") ► 
      h3 <span>31. Llantas negras 
        a(href="https://youtu.be/hsUgiE2iKpU", target="_blank") ► 
      h3 <span>32. Los Chapillacs 
        a(href="https://youtu.be/vQYMxDyq9Lc", target="_blank") ► 
      h3 <span>33. Los death monkeys 
        a(href="https://youtu.be/ktOKmEZMnZI", target="_blank") ► 
      h3 <span>34. Los flechados 
        a(href="http://youtu.be/jmdqmc1jble", target="_blank") ► 
      h3 <span>35. Los monkiss 
        a(href="https://youtu.be/XBJ3R3RLM7g", target="_blank") ► 
    .row
      h3 <span>36. Los paicons 
        a(href="https://soundcloud.com/sucio-records/huachito-de-loteria-los", target="_blank") ► 
      h3 <span>37. Mambala 
        a(href="https://youtu.be/0uYexAxSqvk", target="_blank") ► 
      h3 <span>38. ManiaC 
        a(href="https://youtu.be/Ya1fBRMRo5Q", target="_blank") ► 
      h3 <span>39. Mudra 
        a(href="http://youtu.be/zhz_rb_3xcg", target="_blank") ► 
      h3 <span>40. Mulamuerta 
        a(href="https://youtu.be/4KVUl1FalEQ", target="_blank") ► 
      h3 <span>41. Natural Misti 
        a(href="https://youtu.be/3fqh1-abBGo", target="_blank") ► 
      h3 <span>42. Nodo 
        a(href="https://soundcloud.com/mias/nodo-dinamica-del-viento-y-el-mar", target="_blank") ► 
      h3 <span>43. Noir 
        a(href="https://youtu.be/eGK6SjmcY60", target="_blank") ► 
      h3 <span>44. Nousvlid 
        a(href="https://youtu.be/r8o5uD7rtTQ", target="_blank") ► 
      h3 <span>45. Orquidea 
        a(href="https://youtu.be/AU4CcvZHPII", target="_blank") ► 
      h3 <span>46. Oscuro 
        a(href="https://youtu.be/n5FZi5oh5Pw", target="_blank") ►  
      h3 <span>47. Persepolis 
        a(href="https://youtu.be/PJZzUdHqviQ", target="_blank") ► 
      h3 <span>48. Peter Pedro 
        a(href="https://youtu.be/9VMjLrEYgoY", target="_blank") ► 
      h3 <span>49. Pez Revolver 
        a(href="http://youtu.be/8MCInYfGxpg", target="_blank") ► 
      h3 <span>50. Platónica 
        a(href="http://youtu.be/I_dW5-iIkZk", target="_blank") ►  
      h3 <span>51. Quilluya 
        a(href="https://soundcloud.com/quilluya/nanaq-miskilla", target="_blank") ► 
      h3 <span>52. Rock and Rose <span>(soft rock) </span>
        a(href="http://youtu.be/1cPS-wUVW4s", target="_blank") ► 
      h3 <span>53. Roncha Kills <span>(hardcore punk) </span>
        a(href="https://soundcloud.com/ronchakills", target="_blank") ► 
      h3 <span>54. S-23 <span>(nu metal/post grunge) </span>
        a(href="https://youtu.be/45XClQB89UI", target="_blank") ► 
      h3 <span>55. Southern Lions <span>(nu metal, metalcore) </span>
        a(href="https://youtu.be/-t2YYf9FZ24", target="_blank") ► 
      h3 <span>56. Stonearth <span>(stoner rock) </span>
        a(href="https://soundcloud.com/spiralarips/stonearth-entre-mis-manos", target="_blank") ► 
      h3 <span>57. Synhysteria <span>(blues rock) </span>
        a(href="https://youtu.be/D7L58tE2lzk", target="_blank") ► 
      h3 <span>58. The lunes <span>(indie rock) </span>
        a(href="https://soundcloud.com/the-lunes", target="_blank") ► 
      h3 <span>59. The orange room <span>(rock alternativo) </span>
        a(href="https://youtu.be/yiiIOyuLRsE", target="_blank") ►  
      h3 <span>60. The play <span>(indie rock) </span>
        a(href="https://youtu.be/dRh4VEK3RBg", target="_blank") ► 
      h3 <span>61. Tony Danza <span>(math rock/post hardcore) </span>
        a(href="https://youtu.be/pQaJccKjXTc", target="_blank") ► 
      h3 <span>62. Trepanador <span>(death metal) </span>
        a(href="https://youtu.be/4UVwcO3Yhio", target="_blank") ► 
      h3 <span>63. Trustor <span>(thrash metal) </span>
        a(href="https://youtu.be/fsmKjsxN2gs", target="_blank") ►  
      h3 <span>64. Túpac yufunkuy <span>(funk) </span>
        a(href="https://youtu.be/Jd8gzYQHNtA", target="_blank") ► 
      h3 <span>65. X Dinero <span>(ska/ rock ligero) </span>
        a(href="https://www.youtube.com/watch?v=vzu2_LOXD4M", target="_blank") ► 
      h2 BONUS      
      h3 <span>66. Los incognitos <span>(rock 60s) </span>
        a(href="https://youtu.be/VtJNssN8OmE", target="_blank") ► 
      h3 <span>67. Los texao <span>(rock garage 60s) </span>
        a(href="https://youtu.be/lxFdf71vsuw", target="_blank") ►  
      h3 <span>68. Free love system <span>(rock psicodélico 70s) </span>
        a(href="https://youtu.be/sC29t6yYsbs", target="_blank") ► 
      h3 <span>69. Baretto <span>(soft rock, progre 80-90s) </span>
        a(href="https://youtu.be/KOTM78es1xQ", target="_blank") ► 
      h3 <span>70. Playa cero <span>(rock, reggae 90s) </span>
        a(href="https://youtu.be/nODQJhpwq1M", target="_blank") ► 
      h3 <span>71. Konflicto interno <span>(anarkopunk 90s) </span>
        a(href="https://youtu.be/eIcsnXKcSK4", target="_blank") ► 
//End Grunge