//MainContent - Pagar en Efectivo
section.MainContent.is-visible(data-nom="pago-efectivo")
  .MainContent-header
    .GrupoSlides
      include ../slides/slide-rock-ciudades.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      //Grupo de Tickets - Sucursal
      .GrupoTickets.GrupoTickets--sucursal(data-nom="sucursal")
        include ../tickets-pago/bandas/ciudades/ticket-arequipa.pug
        include ../tickets-pago/bandas/ciudades/ticket-ayacucho.pug
        include ../tickets-pago/bandas/ciudades/ticket-cajamarca.pug
        include ../tickets-pago/bandas/ciudades/ticket-chiclayo.pug
        include ../tickets-pago/bandas/ciudades/ticket-chimbote.pug
        include ../tickets-pago/bandas/ciudades/ticket-huacho.pug
        include ../tickets-pago/bandas/ciudades/ticket-huancayo.pug
        include ../tickets-pago/bandas/ciudades/ticket-huanuco.pug


      
      
