
section.MainContent.is-visible(data-nom="banca-internet")
  .MainContent-header
    .GrupoSlides
      include ../slides/slide-rock-generos.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      //Grupo Tickets - Personas
      .GrupoTickets(data-nom="personas")
        include ../tickets-pago/bandas/generos/ticket-pago-eleven.pug


      
      
