//MainContent - Banca por Internet
section.MainContent--espacios.is-visible
  h1.title-logo
    a(href="#")
      img(src="img/logo-ra.png", target="_blank")
  .MainContent-header
    .GrupoDropdown
      include ../slides/dropdown-espacios-digitales.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      //Grupo Tickets - Personas
      .GrupoTickets
        include ../tickets-pago/espacios/virtuales/magazines.pug
        include ../tickets-pago/espacios/virtuales/magazines-provincia.pug
        include ../tickets-pago/espacios/virtuales/magazines-estilos.pug
