
section.MainContent.is-visible(data-nom="banca-internet")
  .MainContent-header
    .GrupoSlides
      include ../slides/slide-rock-generos.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      //Grupo Tickets - Personas
      .GrupoTickets(data-nom="personas")
        include ../tickets-pago/internet/personas/ticket-pago-bbva.pug
        include ../tickets-pago/internet/personas/ticket-pago-santander.pug
        include ../tickets-pago/internet/personas/ticket-pago-banorte.pug
        include ../tickets-pago/internet/personas/ticket-pago-scotiabank.pug
        include ../tickets-pago/internet/personas/ticket-pago-banamex.pug
        include ../tickets-pago/internet/empresas/ticket-pago-banorte.pug
        include ../tickets-pago/internet/empresas/ticket-pago-spei.pug

      
      
