//MainContent - Banca por Internet
section.MainContent.is-visible(data-nom="espacios-virtuales")
  .MainContent-header
    .GrupoDropdown
      include ../slides/dropdown-espacios-digitales.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      //Grupo Tickets - Personas
      .GrupoTickets
        include ../tickets-pago/espacios/virtuales/magazines.pug
        include ../tickets-pago/espacios/virtuales/magazines-provincia.pug
        include ../tickets-pago/espacios/virtuales/magazines-estilos.pug
