//|MEX|Online|Bancos|Empresas|8191_"SPEI"|-Start-
//- .Ticket(data-nom-entidad="spei")
//-   //- .Ticket-title Título
//-   .Ticket-guia 
//-     .guia-content Permite desde cualquier banco mexicano de 6:00 am. a 5:30 pm. - Spei
//-   .Ticket-content
//-     .Ticket-codigo
//-       .row
//-         span.text Referencia
//-       .row.imagen-barras
//-         span.text
//-           img(src="img/codigo-barras.png", alt="Código de barras")
//-       .row 
//-         span.text.strong.large 32543
//-     .Ticket-total
//-       .Ticket-total-header
//-         span Resumen de pago
//-       .Ticket-total-detalle
//-         .row
//-           span.label Monto:
//-           span.value $ 536.99
//-         .row
//-           span.label Costos operativos:
//-           span.value $.3. 00
//-         .row
//-           span.label.total Total:
//-           span.value.total $. 539.99
//-     .Ticket-tiempo
//-       .tiempo-mensaje Recuerda que te quedan:
//-       .tiempo-reloj
//-         i.icon-clock
//-         span#timer_hor_1 183h
//-         span.divisor :
//-         span#timer_min_1(data-minutos='15') 58m
//-         span.divisor :
//-         span#timer_seg_1 24s
//-       //- .tiempo-mensaje.tiempo-mensaje--bottom Para fazer seu pagamento.
//-   .Ticket-terminos
//-     span <input type="checkbox" checked="checked"> 
//-     span Acepto <a href="#">Términos y Condiciones</a> y <a href="#">Políticas de Privacidad.</a>
//|MEX|Online|Bancos|Empresas|8191_"SPEI"|-End-