//B2bNav
.B2bNav
  .B2bNav-content
    .B2bNav-list
      .B2bNav-item.is-active(data-nom="sucursal")
        span Bancos
      .B2bNav-item.large(data-nom="tiendas")
        span Tiendas de conveniencia
    .B2bNav-buscador
      include ../mybank-search-select.pug
