.BuscadorEntidades
  .BuscadorEntidades-content
    .BuscadorEntidades-inputBox
      input.InputText.InputText--buscador(type="text", placeholder="Buscar")
    .BuscadorEntidades-paginador
      .contador
        //- span.wrapper
        //-   span.muestra 0
        //-   span de
        //-   span.total 0
      .searchIcon
    .BuscadorEntidades-listaResultados
  
