//InstruccionesPago - Spei
.InstruccionesPago(data-nom-entidad="spei")
  .InstruccionesPago-title Instrucciones de transferencia SPEI
  .InstruccionesPago-content
    .InstruccionesPago-guia Ingrese a su banca por internet y realice una transferencia interbancaria a <span class="strong">SafetyPay México S de RL de CV</span>
    
    //- Lista de pasos
    .InstruccionesPago-listaPasos.bordes
      .InstruccionesPago-item
        .content
          .table
            .col.col-40
              span.strong.blue Registra la cuenta beneficiaria (Puede tardar unos minutos).
            .col.col-60
              .row
                .label Nombre del beneficiario:
                .value SAFTPAY MÉXICO S DE RL DE CV
              .row
                .label Nombre del banco destino:
                .value BBVA Bancomer
              .row
                .label Número de cuenta CLABE:
                .value 012180001646986495
      .InstruccionesPago-item
        .content
          .table
            .col.col-40
              span.strong.blue Transfiere
            .col.col-60
              .row
                .label Referencia numérica:
                .value 
                  .box-codigo 32543
              .row
                .label Monto a pagar:
                .value $. 539.99
              .row
                .label Correo del destinatario:
                .value speimx@safetypay.com
