//InstruccionesPago - Banamex - Empresas
.InstruccionesPago(data-nom-entidad="banamex")
  .InstruccionesPago-title Instrucciones de pago
  .InstruccionesPago-content
    //- .InstruccionesPago-guia Realize uma <span class="strong">"Transferência para Contas Itaú"</span> (de conta corrente para conta corrente) em nome de <span class="strong">SafetyPay Brasil Serviços de Pagamentos Ltda</span> na <span class="strong">conta e agência</span> informadas abaixo:
    
    //- Lista de pasos
    .InstruccionesPago-listaPasos
      .column
        .InstruccionesPago-item
          .content(data-num="1") Selecciona: <span class="strong">"Transferencias y pagos" - "Pagos” -  “servicios"</span>.
        .InstruccionesPago-item
          .content(data-num="2") Servicio: <span class="strong">"SafetyPay WS - 428101"</span>.
      .column
        .InstruccionesPago-item
          .content(data-num="3") Referencia <span class="strong">32543</span>, importe <span class="strong">$ 539.99</span> y ¡Listo!
