/*---------------------------------------------------------------------------*
 * MainContent
----------------------------------------------------------------------------*/
.MainContent {
  padding: 10px 15px 0 15px;  
  display: none;
  @include breakpoint(phablet) {
    padding-left: 38px;    
  }
  &.is-visible {
    display: block;
  }
  &-header {
  }
  &-content {
    max-width: 800px;
    margin: auto;
  }
}
/*---------------------------------------------------------------------------*
* Fin:MainContent
----------------------------------------------------------------------------*/
