/*---------------------------------------------------------------------------*
 * OuterContainer
----------------------------------------------------------------------------*/
.OuterContainer {
  background-color: #fff;
  max-width: 835px;
  margin: 0 auto;
}
/*---------------------------------------------------------------------------*
* Fin:OuterContainer
----------------------------------------------------------------------------*/
