/*---------------------------------------------------------------------------*
 * Start: ReservationNumber
----------------------------------------------------------------------------*/
.ReservationNumber {
  &, * {  box-sizing:border-box;  }
  &__content {
    color: #404040;
    font-size: 11px;
    line-height: 1.2;
    word-break: break-all;
    @include breakpoint(mobile) {
      font-size: 13px;
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: ReservationNumber
----------------------------------------------------------------------------*/
