//Chimbote|-Start-
.Ticket(data-nom-entidad="chimbote")
  .Ticket-title Música en Chimbote
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>5</span> bandas de Chimbote. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 1. Andariel <span>(punk rock) </span>
        a(href="http://youtu.be/r76z2j2HJ1U", target="_blank") ► ESCUCHAR
      h3 2. Ormiga Rock <span>(rock ligero) </span>
        a(href="http://youtu.be/RuvV7EIiKZc", target="_blank") ► ESCUCHAR
      h3 3. Los pasteles verdes <span>(nueva ola) </span>
        a(href="http://youtu.be/YXzumA8nBWY", target="_blank") ► ESCUCHAR
      h3 4. Mandrágora <span>(heavy metal) </span>
        a(href="http://youtu.be/BDl6KsAAzUA", target="_blank") ► ESCUCHAR
      h3 5. Taxi <span>(pop rock) </span>
        a(href="http://youtu.be/MigfIAUtgqY", target="_blank") ► ESCUCHAR
//Chimbote|-End-
