//huancayo|-Start-
.Ticket(data-nom-entidad="huancayo")
  .Ticket-title Música en Huancayo
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>22</span> bandas de Huancayo. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. 40 Nativoz (rock) </span>
        a(href="http://youtu.be/rmul9GXoskA", target="_blank") ► 
      h3 <span>2. Adrian Matos (heavy metal) </span>
        a(href="http://youtu.be/HGKYfGNZILY", target="_blank") ► 
      h3 <span>3. El cerebro de Gregorio Samsa (stoner rock) </span>
        a(href="http://goo.gl/2ME2sY", target="_blank") ► 
      h3 <span>4. D-Kievre (punk rock) </span>
        a(href="http://youtu.be/OlmsdW3NLMM", target="_blank") ► 
      h3 <span>5. Dominik (rock alternativo) </span>
        a(href="http://youtu.be/bE4Lz71dews", target="_blank") ► 
      h3 <span>6. Esvedra (rock progresivo) </span>
        a(href="http://youtu.be/zyRqtHW-m24", target="_blank") ► 
      h3 <span>7. Estepario (funk, Soul, Blues) </span>
        a(href="http://youtu.be/qHOLYKgpjsE", target="_blank") ► 
      h3 <span>8. Eulora Rock (metal rock) </span>
        a(href="http://youtu.be/Y43sW78YzcY", target="_blank") ► 
      h3 <span>9. Gnoma (doom death metal) </span>
        a(href="http://youtu.be/nMAo85kMu", target="_blank") ► 
      h3 <span>10. Hombres de paja (punk rock) </span>
        a(href="http://youtu.be/QUNdFW5kPEw", target="_blank") ► 
      h3 <span>11. Indoraza (metal rock indígena) </span>
        a(href="http://youtu.be/P2IEgxBhG6I", target="_blank") ► 
      h3 <span>12. Jichay (groove metal) </span>
        a(href="http://youtu.be/vEKEf8s2ki4", target="_blank") ► 
      h3 <span>13. John Liar (indie rock) </span>
        a(href="http://goo.gl/zUzFl9", target="_blank") ► 
      h3 <span>14. Leyenda (blues rock rockabilly) </span>
        a(href="http://youtu.be/xAl94Avpzr8", target="_blank") ► 
      h3 <span>15. Komplicado (rock alternativo) </span>
        a(href="http://youtu.be/81rJcGZS3yA", target="_blank") ► 
      h3 <span>16. NoKomforme (pop punk) </span>
        a(href="http://youtu.be/ByGanxz3hcY", target="_blank") ► 
      h3 <span>17. Overdrive (rock) </span>
        a(href="http://youtu.be/lvOlKSrRlpU", target="_blank") ► 
      h3 <span>18. Play a Bit (post rock) </span>
        a(href="http://goo.gl/hZZov0", target="_blank") ► 
      h3 <span>19. Sangre de Acero (hard rock) </span>
        a(href="http://youtu.be/M4XH_8jgOkk", target="_blank") ► 
      h3 <span>20. Smilodons (heavy power progresivo) </span>
        a(href="http://youtu.be/PFbw3I8XnYc", target="_blank") ► 
      h3 <span>21. The Blue Distance (indie rock electronic) </span>
        a(href="http://goo.gl/nr6gh4", target="_blank") ► 
      h3 <span>22. Viotype (death metal) </span>
        a(href="http://youtu.be/7hifsdeRP6w", target="_blank") ► 
//huancayo|-End-

