//Comienzo contenido ayacucho
.Ticket.Ticket-banamex(data-nom-entidad="ayacucho")
  .Ticket-title Música en Ayacucho
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>28</span> bandas de Ayacucho. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 1. Arnawan <span>(alternativo) </span>
        a(href="http://youtu.be/o8J54KjCPUg", target="_blank") ► ESCUCHAR
      h3 2. Av. Rock <span>(pop rock) </span>
        a(href="http://youtu.be/RnnwidHXSv8", target="_blank") ► ESCUCHAR
      h3 3. Ayapacha-R4 <span>(fusión ska) </span>
        a(href="https://youtu.be/QU8u32PGPXA", target="_blank") ► ESCUCHAR
      h3 4. Blazoft <span>(blues rock) </span>
        a(href="http://youtu.be/4vVgp5haBVM", target="_blank") ► ESCUCHAR
      h3 5. Brageiki <span>(fusión experimental) </span>
        a(href="https://soundcloud.com/brageiki-vega", target="_blank") ► ESCUCHAR
      h3 6. Códigos Postales <span>(indie folk) </span>
        a(href="http://youtu.be/lK_tnxk6-XM", target="_blank") ► ESCUCHAR
      h3 7. Deprisofisty <span>(death metal progresivo) </span>
        a(href="http://youtu.be/jhPhadSkeOA", target="_blank") ► ESCUCHAR
      h3 8. Diadema <span>(post punk revival) </span>
        a(href="http://youtu.be/ZgCncJdbxQ0", target="_blank") ► ESCUCHAR
      h3 9. Distorsión Punk <span>(punk) </span>
        a(href="http://youtu.be/nN3T2u8I5Kk", target="_blank") ► ESCUCHAR
      h3 10. FüGhawZ <span>(post rock) </span>
        a(href="https://soundcloud.com/fughawz/arr-ncame-los-dientes", target="_blank") ► ESCUCHAR
      h3 11. IAO <span>(pop fusión) </span>
        a(href="http://youtu.be/zUYzxzfyVME", target="_blank") ► ESCUCHAR
      h3 12. Idenia <span>(pop rock) </span>
        a(href="http://youtu.be/BwbpzBlh99o", target="_blank") ► ESCUCHAR
      h3 13. La hoja <span>(blues rock) </span>
        a(href="https://myspace.com/lahojarockblues/music/songs", target="_blank") ► ESCUCHAR
      h3 14. Markakme <span>(death metal) </span>
        a(href="http://youtu.be/3tUOXor37ik", target="_blank") ► ESCUCHAR
      h3 15. Masturbator <span>(hardcore) </span>
        a(href="http://youtu.be/zJAGy9BhuDU", target="_blank") ► ESCUCHAR
      h3 16. Memphis <span>(indie rock/pop punk) </span>
        a(href="http://youtu.be/uXDjPpbbTRM", target="_blank") ► ESCUCHAR
      h3 17. Mutaytas <span>(alternativo/punk) </span>
        a(href="http://youtu.be/2S1aEoNOOyY", target="_blank") ► ESCUCHAR
      h3 18. Plexo <span>(soft rock) </span>
        a(href="http://youtu.be/2kSyPokP2-s", target="_blank") ► ESCUCHAR
      h3 19. Poema 20 <span>(space rock) </span>
        a(href="http://youtu.be/nNxlsj7f48s", target="_blank") ► ESCUCHAR
      h3 20. Proyecto Quimera <span>(post grunge) </span>
        a(href="http://youtu.be/ScyY5P-tPaw", target="_blank") ► ESCUCHAR
    .row
      h3 21. R4 <span>(reggae) </span>
        a(href="http://youtu.be/46DBNyGYy3U", target="_blank") ► ESCUCHAR
      h3 22. Rock Jones <span>(soft rock acústico) </span>
        a(href="https://soundcloud.com/rock-jones/cuando-tu-no-estas-natural", target="_blank") ► ESCUCHAR
      h3 23. Siatica <span>(fusión/post grunge) </span>
        a(href="http://youtu.be/5TpCQPMoopE", target="_blank") ► ESCUCHAR
      h3 24. Simples Locos <span>(hard rock) </span>
        a(href="http://youtu.be/sPzvQByuX7Y", target="_blank") ► ESCUCHAR
      h3 25. UCHPA <span>(blues rock fusión) </span>
        a(href="http://youtu.be/U5bUWAOUGHo", target="_blank") ► ESCUCHAR
      h3 26. Unocomados <span>(hip hop experimental) </span>
        a(href="https://soundcloud.com/huamangazorock/unocomados-suplicio", target="_blank") ► ESCUCHAR
      h2 BONUS      
      h3 27. Los Siderals <span>(rock instrumental 60s) </span>
        a(href="http://youtu.be/3lfSM4L0kuY", target="_blank") ► ESCUCHAR
      h3 28. Los Beltons <span>(cumbia 60s) </span>
        a(href="http://youtu.be/PqRo-cZMXYM", target="_blank") E► SCUCHAR 
//Fin contenido ayacucho
