//Oxapampa|-Start-
.Ticket(data-nom-entidad="oxapampa")
  .Ticket-title Música en Oxapampa
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>11</span> bandas de Oxapampa. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. CAOBA (pop rock blues) </span>
        a(href="https://www.youtube.com/watch?v=S9c3fP0NwuE", target="_blank") ► 
//Oxapampa|-End-
