//Cajamarca|-Start-
.Ticket.Ticket-azteca(data-nom-entidad="cajamarca")
  .Ticket-title Música en Cajamarca
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>43</span> bandas de Cajamarca. Si conoces alguna más,  
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 1. Audiosónica <span>(pop rock alternativo) </span>
        a(href="https://youtu.be/QIBhg60DrAc", target="_blank") ► ESCUCHAR
      h3 2. Bandera Negra <span>(death black metal) </span>
        a(href="http://youtu.be/MD7FgUtDzlU", target="_blank") ► ESCUCHAR
      h3 3. Biologica Bit <span>(electro rock) </span>
        a(href="http://goo.gl/kcBZz7", target="_blank") ► ESCUCHAR
      h3 4. Cancerbero <span>(nu metal) </span>
        a(href="https://soundcloud.com/cancerbero-1", target="_blank") ► ESCUCHAR
      h3 5. Colateral <span>(rock) </span>
        a(href="https://youtu.be/buONmcP22CM", target="_blank") ► ESCUCHAR
      h3 6. Colapso <span>(rock alternativo) </span>
        a(href="https://soundcloud.com/colapso-rockperu", target="_blank") ► ESCUCHAR
      h3 7. Depraved <span>(death metal) </span>
        a(href="http://youtu.be/tBYSSz2fZaQ", target="_blank") ► ESCUCHAR
      h3 8. Desconectado <span>(hard rock) </span>
        a(href="http://goo.gl/mWpl6r", target="_blank") ► ESCUCHAR
      h3 9. Eterno <span>(hardcore) </span>
        a(href="https://youtu.be/FCL6ClAC8Hs", target="_blank") ► ESCUCHAR
      h3 10. Eterea <span>(punk rock) </span>
        a(href="https://youtu.be/QIBhg60DrAc", target="_blank") ► ESCUCHAR
      h3 11. Gente Cangrejo <span>(post hardcore) </span>
        a(href="https://youtu.be/tICu_be6pWc", target="_blank") ► ESCUCHAR
      h3 12. Granizo <span>(Lofi) </span>
        a(href="http://youtu.be/dfC0lZwCLG4", target="_blank") ► ESCUCHAR
      h3 13. Gusanos de cuerda <span>(psicodelia) </span>
        a(href="https://soundcloud.com/ramon-mu-oz/02-un-cuento-mas", target="_blank") ► ESCUCHAR
      h3 14. Franco Hamilton <span>(pop rock) </span>
        a(href="http://youtu.be/DsIjgPPzxA4", target="_blank") ► ESCUCHAR
      h3 15. Forastero <span>(hardcore punk) </span>
        a(href="https://youtu.be/WPLEQXQIsUQ", target="_blank") ► ESCUCHAR
      h3 16. Holocausto <span>(rock instrumental) </span>
        a(href="http://youtu.be/Oql4NysTcXM", target="_blank") ► ESCUCHAR
      h3 17. Kaliko y los Caliches <span>(rock) </span>
        a(href="http://youtu.be/VyG59iYAT00", target="_blank") ► ESCUCHAR
      h3 18. Karikatumba <span>(hard rock) </span>
        a(href="http://youtu.be/6ENfSCRpFYU", target="_blank") ► ESCUCHAR
      h3 19. La kuchanguita <span>(ska punk reggae) </span>
        a(href="http://youtu.be/fyn4g0LSYvE", target="_blank") ► ESCUCHAR
      h3 20. La mancha de Dulcinea <span>(punk rock) </span>
        a(href="http://youtu.be/u780dVnzqwU", target="_blank") ► ESCUCHAR
    .row
      h3 21. Las ratapunk <span>(punk) </span>
        a(href="http://youtu.be/ci5wS1yuRsA", target="_blank") ► ESCUCHAR
      h3 22. Los hugos <span>(anarkopunk) </span>
        a(href="https://youtu.be/8RapXUw8bKY", target="_blank") ► ESCUCHAR
      h3 23. Marea Cristal <span>(indie pop) </span>
        a(href="http://mareacristal.bandcamp.com/", target="_blank") ► ESCUCHAR
      h3 24. N.A.T.I.V.O <span>(nu metal) </span>
        a(href="https://youtu.be/G-9e74t_JOA", target="_blank") ► ESCUCHAR
      h3 25. Nueva Dirección <span>(hardcore punk) </span>
        a(href="http://youtu.be/UQe8Em-Gohg", target="_blank") ► ESCUCHAR
      h3 26. Oscar Pajares <span>(electrónica fusión) </span>
        a(href="http://youtu.be/n8kS9oXC3Og", target="_blank") ► ESCUCHAR
      h3 27. Holocausto <span>(rock instrumental) </span>
        a(href="http://youtu.be/Oql4NysTcXM", target="_blank") ► ESCUCHAR
      h3 28. Pérdida <span>(hardcore punk) </span>
        a(href="http://perdidahc.bandcamp.com/", target="_blank") ► ESCUCHAR
      h3 29. Regret <span>(metal) </span>
        a(href="http://youtu.be/BT5S2pvGoZg", target="_blank") ► ESCUCHAR
      h3 30. Rejunta2 <span>(funky reggae) </span>
        a(href="https://www.youtube.com/watch?v=rz78fiBi7Nc", target="_blank") ► ESCUCHAR
      h3 31. Ruido Negro <span>(rock) </span>
        a(href="https://youtu.be/JoeFOd5jaRo", target="_blank") ► ESCUCHAR
      h3 32. Serrania <span>(fusión) </span>
        a(href="http://youtu.be/CFRn91NQ_mw", target="_blank") ► ESCUCHAR
      h3 33. Schokta <span>(rock) </span>
        a(href="hhttps://youtu.be/vOxMNZIbnpo", target="_blank") ► ESCUCHAR
      h3 34. Shukakes <span>(punk rock) </span>
        a(href="http://youtu.be/hpt67mrwqYA", target="_blank") ► ESCUCHAR
      h3 35. Sin Patria <span>(punk) </span>
        a(href="http://youtu.be/YWQ9cYeusAg", target="_blank") ► ESCUCHAR
      h3 36. Sueño inmortal <span>(rock) </span>
        a(href="http://youtu.be/JoeFOd5jaRo", target="_blank") ► ESCUCHAR
      h3 37. Surmenage <span>(grunge) </span>
        a(href="http://youtu.be/Jw6vsUOFT58", target="_blank") ► ESCUCHAR
      h3 38. Transgresión <span>(metal core) </span>
        a(href="https://myspace.com/transgresionperu/music", target="_blank") ► ESCUCHAR
      h3 39. Tropel <span>(punk rock) </span>
        a(href="http://youtu.be/mkA0_05KCzQ", target="_blank") ► ESCUCHAR
      h3 40. Unidad 4 <span>(punk rock) </span>
        a(href="http://youtu.be/1458DVfG3Mw", target="_blank") ► ESCUCHAR
      h3 41. Velociraptors <span>(garage rock) </span>
        a(href="https://youtu.be/o4d4LVnAD6M", target="_blank") ► ESCUCHAR
      h3 42. Vete a la mierda <span>(anarko raw punk) </span>
        a(href="http://youtu.be/Ucskyg7Vouk", target="_blank") ► ESCUCHAR
      h3 43. Yma Sumac <span>(lírico) </span>
        a(href="http://youtu.be/Tc6xzHaSDKo", target="_blank") ► ESCUCHAR   
//Cajamarca|-End-
