//Comienzo contenido Arequipa
.Ticket.is-visible(data-nom-entidad="arequipa")
  .Ticket-title Música en Arequipa
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>71</span> bandas de Arequipa. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 
        <span>1. Aero (post grunge) </span>
        a(href="http://aero-rock.bandcamp.com/album/depr3s-nica", target="_blank") ► 
      h3 
        <span>2. Alias La Gringa (garaje, hardcore) </span>
        a(href="https://soundcloud.com/alias-la-gringa", target="_blank") ► 
      h3 <span>3. Anonimos (indie rock) </span>
        a(href="https://youtu.be/5Biy7lpIpGE", target="_blank") ► 
      h3 <span>4. Apuman (fusión) </span>
        a(href="https://youtu.be/FwFeiDMuyes", target="_blank") ► 
      h3 <span>5. Barriada vulgar (punk rock) </span>
        a(href="https://youtu.be/jJmEakTIaJQ", target="_blank") ► 
      h3 <span>6. Beis (synth pop) </span>
        a(href="https://soundcloud.com/beis-beis", target="_blank") ► 
      h3 <span>7. Carga Ligera (indie rock) </span>
        a(href="https://youtu.be/oclH86L42Ug", target="_blank") ► 
      h3 <span>8. CHASKA folk metal (folk metal) </span>
        a(href="https://youtu.be/XB8vPFektzg", target="_blank") ► 
      h3 <span>9. Comfuzztible (garaje) </span>
        a(href="https://youtu.be/Age95jf5kKA", target="_blank") ► 
      h3 <span>10. Delay Tambor (idm/ambient) </span>
        a(href="https://soundcloud.com/mias/delay-tambor-dimension-dante-droid-2600-remix", target="_blank") ► 
      h3 <span>11. Detonador Rocanrol (post grunge) </span>
        a(href="https://youtu.be/nWW_p2-nUAA", target="_blank") ► 
      h3 <span>12. Discrepunkcia (punk) </span>
        a(href="https://youtu.be/sSVnPya1YB8", target="_blank") ► 
      h3 <span>13. "EL ENCAJE" Perfecto (hip hop fusión) </span>
        a(href="https://youtu.be/C5kzS8N4RPI", target="_blank") ► 
      h3 <span>14. Em Virginia (rock alternativo) </span>
        a(href="https://youtu.be/_9XghlBc7uI", target="_blank") ► 
      h3 <span>15. Entrenieblas (post punk revival) </span>
        a(href="https://youtu.be/IjfXyuZz_8w", target="_blank") ► 
      h3 <span>16. Felix Dorian (rock n roll) </span>
        a(href="https://youtu.be/L68EPRK_P0w", target="_blank") ► 
      h3 <span>17. Fiorella16 (ruidismo) </span>
        a(href="https://youtu.be/gP7QLvcXeU4", target="_blank") ► 
      h3 <span>18. Fobya (post punk) </span>
        a(href="https://youtu.be/go0g2jxhBIo", target="_blank") ► 
      h3 <span>19. Freak (Funk core) </span>
        a(href="https://youtu.be/DP8Zx_7l-Tc", target="_blank") ► 
      h3 <span>20. Gallina McFly (fusión/rockabilly) </span>
        a(href="https://youtu.be/_PgzE-8ErwY", target="_blank") ►     
      h3 <span>21. Go Icarus (indie folk/pop barroco) </span>
        a(href="https://youtu.be/Khnu-wt8ZW8", target="_blank") ► 
      h3 <span>22. Grito de miseria (anarkopunk) </span>
        a(href="https://youtu.be/Jj0-9NlEfzM", target="_blank") ► 
      h3 <span>23. H.Sandro (blues rock) </span>
        a(href="https://soundcloud.com/azuldesierto", target="_blank") ► 
      h3 <span>24. Hammelin (folk metal) </span>
        a(href="https://youtu.be/SPQOnYT9CaM", target="_blank") ► 
      h3 <span>25. Hoja seca (rock alternativo) </span>
        a(href="https://soundcloud.com/urban-daemon/hoja-seca-instinto-bipolar", target="_blank") ► 
      h3 <span>26. Jacketts (hard rock) </span>
        a(href="https://youtu.be/rjeK_pjbCas", target="_blank") ► 
      h3 <span>27. La familia (garage) </span>
        a(href="https://soundcloud.com/sucio-records/balacera-la-familia", target="_blank") ► 
      h3 <span>28. La katana funk (funk) </span>
        a(href="https://youtu.be/wRDBeQQ2N2Q", target="_blank") ► 
      h3 <span>29. La vie (indie folk/post rock) </span>
        a(href="http://youtu.be/echru1z5hkmr", target="_blank") ► 
      h3 <span>30. Legión sacra (death thrash metal) </span>
        a(href="https://www.youtube.com/watch?v=rWNXL4pUVig", target="_blank") ► 
      h3 <span>31. Llantas negras (ska punk) </span>
        a(href="https://youtu.be/hsUgiE2iKpU", target="_blank") ► 
      h3 <span>32. Los Chapillacs (fusión, chicha) </span>
        a(href="https://youtu.be/vQYMxDyq9Lc", target="_blank") ► 
      h3 <span>33. Los death monkeys (nu metal) </span>
        a(href="https://youtu.be/ktOKmEZMnZI", target="_blank") ► 
      h3 <span>34. Los flechados (punk rock) </span>
        a(href="http://youtu.be/jmdqmc1jble", target="_blank") ► 
      h3 <span>35. Los monkiss (fusión) </span>
        a(href="https://youtu.be/XBJ3R3RLM7g", target="_blank") ► 
    .row
      h3 <span>36. Los paicons (surf garaje rock) </span>
        a(href="https://soundcloud.com/sucio-records/huachito-de-loteria-los", target="_blank") ► 
      h3 <span>37. Mambala (reggae fusión) </span>
        a(href="https://youtu.be/0uYexAxSqvk", target="_blank") ► 
      h3 <span>38. ManiaC (thrash metal) </span>
        a(href="https://youtu.be/Ya1fBRMRo5Q", target="_blank") ► 
      h3 <span>39. Mudra (thrash metal) </span>
        a(href="http://youtu.be/zhz_rb_3xcg", target="_blank") ► 
      h3 <span>40. Mulamuerta (punk rock) </span>
        a(href="https://youtu.be/4KVUl1FalEQ", target="_blank") ► 
      h3 <span>41. Natural Misti (Reggae roots andino) </span>
        a(href="https://youtu.be/3fqh1-abBGo", target="_blank") ► 
      h3 <span>42. Nodo (idm/ambient) </span>
        a(href="https://soundcloud.com/mias/nodo-dinamica-del-viento-y-el-mar", target="_blank") ► 
      h3 <span>43. Noir (post punk) </span>
        a(href="https://youtu.be/eGK6SjmcY60", target="_blank") ► 
      h3 <span>44. Nousvlid (post hardcore) </span>
        a(href="https://youtu.be/r8o5uD7rtTQ", target="_blank") ► 
      h3 <span>45. Orquidea (shoegazing) </span>
        a(href="https://youtu.be/AU4CcvZHPII", target="_blank") ► 
      h3 <span>46. Oscuro (rap, hip hop) </span>
        a(href="https://youtu.be/n5FZi5oh5Pw", target="_blank") ►  
      h3 <span>47. Persepolis (indie rock, psicodelia) </span>
        a(href="https://youtu.be/PJZzUdHqviQ", target="_blank") ► 
      h3 <span>48. Peter Pedro (post rock) </span>
        a(href="https://youtu.be/9VMjLrEYgoY", target="_blank") ► 
      h3 <span>49. Pez Revolver (soft rock) </span>
        a(href="http://youtu.be/8MCInYfGxpg", target="_blank") ► 
      h3 <span>50. Platónica (pop rock) </span>
        a(href="http://youtu.be/I_dW5-iIkZk", target="_blank") ►  
      h3 <span>51. Quilluya (electro fusión experimental) </span>
        a(href="https://soundcloud.com/quilluya/nanaq-miskilla", target="_blank") ► 
      h3 <span>52. Rock and Rose (soft rock) </span>
        a(href="http://youtu.be/1cPS-wUVW4s", target="_blank") ► 
      h3 <span>53. Roncha Kills (hardcore punk) </span>
        a(href="https://soundcloud.com/ronchakills", target="_blank") ► 
      h3 <span>54. S-23 (nu metal/post grunge) </span>
        a(href="https://youtu.be/45XClQB89UI", target="_blank") ► 
      h3 <span>55. Southern Lions (nu metal, metalcore) </span>
        a(href="https://youtu.be/-t2YYf9FZ24", target="_blank") ► 
      h3 <span>56. Stonearth (stoner rock) </span>
        a(href="https://soundcloud.com/spiralarips/stonearth-entre-mis-manos", target="_blank") ► 
      h3 <span>57. Synhysteria (blues rock) </span>
        a(href="https://youtu.be/D7L58tE2lzk", target="_blank") ► 
      h3 <span>58. The lunes (indie rock) </span>
        a(href="https://soundcloud.com/the-lunes", target="_blank") ► 
      h3 <span>59. The orange room (rock alternativo) </span>
        a(href="https://youtu.be/yiiIOyuLRsE", target="_blank") ►  
      h3 <span>60. The play (indie rock) </span>
        a(href="https://youtu.be/dRh4VEK3RBg", target="_blank") ► 
      h3 <span>61. Tony Danza (math rock/post hardcore) </span>
        a(href="https://youtu.be/pQaJccKjXTc", target="_blank") ► 
      h3 <span>62. Trepanador (death metal) </span>
        a(href="https://youtu.be/4UVwcO3Yhio", target="_blank") ► 
      h3 <span>63. Trustor (thrash metal) </span>
        a(href="https://youtu.be/fsmKjsxN2gs", target="_blank") ►  
      h3 <span>64. Túpac yufunkuy (funk) </span>
        a(href="https://youtu.be/Jd8gzYQHNtA", target="_blank") ► 
      h3 <span>65. X Dinero (ska/ rock ligero) </span>
        a(href="https://www.youtube.com/watch?v=vzu2_LOXD4M", target="_blank") ► 
      h2 BONUS      
      h3 <span>66. Los incognitos (rock 60s) </span>
        a(href="https://youtu.be/VtJNssN8OmE", target="_blank") ► 
      h3 <span>67. Los texao (rock garage 60s) </span>
        a(href="https://youtu.be/lxFdf71vsuw", target="_blank") ►  
      h3 <span>68. Free love system (rock psicodélico 70s) </span>
        a(href="https://youtu.be/sC29t6yYsbs", target="_blank") ► 
      h3 <span>69. Baretto (soft rock, progre 80-90s) </span>
        a(href="https://youtu.be/KOTM78es1xQ", target="_blank") ► 
      h3 <span>70. Playa cero (rock, reggae 90s) </span>
        a(href="https://youtu.be/nODQJhpwq1M", target="_blank") ► 
      h3 <span>71. Konflicto interno (anarkopunk 90s) </span>
        a(href="https://youtu.be/eIcsnXKcSK4", target="_blank") ► 
//Fin contenido Arequipa