//chiclayo|-Start-
.Ticket(data-nom-entidad="chiclayo")
  .Ticket-title Música en Chiclayo
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>21</span> bandas de Chiclayo. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 1. Adaluz <span>(hard rock) </span>
        a(href="http://youtu.be/diGWyqyHAX8", target="_blank") ► ESCUCHAR
      h3 2. Aia Paec <span>(rock experimental) </span>
        a(href="http://aiapaec.bandcamp.com/", target="_blank") ► ESCUCHAR
      h3 3. Belladona <span>(rock) </span>
        a(href="https://youtu.be/5dSY9yY3edI", target="_blank") ► ESCUCHAR
      h3 4. Carcava <span>(death metal) </span>
        a(href="http://youtu.be/L0Ff1RZV7IA", target="_blank") ► ESCUCHAR
      h3 5. Diéresis <span>(rock alternativo) </span>
        a(href="http://youtu.be/e6Q6khOlKy8", target="_blank") ► ESCUCHAR
      h3 6. Dr. Changó <span>(ska fusión) </span>
        a(href="https://youtu.be/b17kkcizmkc", target="_blank") ► ESCUCHAR
      h3 7. Haarp <span>(rock alternativo) </span>
        a(href="https://youtu.be/5yVL_4M5qaA", target="_blank") ► ESCUCHAR
      h3 8. Huaca Roots <span>(reggae) </span>
        a(href="http://youtu.be/54Fluh_Stk4", target="_blank") ► ESCUCHAR
      h3 9. Inmune HC <span>(punk hardcore) </span>
        a(href="https://soundcloud.com/inmune-hc", target="_blank") ► ESCUCHAR
      h3 10. Jackhammer <span>(metal) </span>
        a(href="http://youtu.be/OC3M7YAs3Wo", target="_blank") ► ESCUCHAR
      h3 11. Kodigo Civil <span>(punk rock) </span>
        a(href="http://youtu.be/U0WKvsedeFY", target="_blank") ► ESCUCHAR
      h3 12. Korrosion <span>(punk hardcore) </span>
        a(href="http://youtu.be/59yyZdjzUMc", target="_blank") ► ESCUCHAR
      h3 13. Korte Transversal <span>(punk reggae ska) </span>
        a(href="http://youtu.be/1UsSfYu-HKA", target="_blank") ► ESCUCHAR
      h3 14. Leyenda <span>(blues rock rockabilly) </span>
        a(href="http://youtu.be/xAl94Avpzr8", target="_blank") ► ESCUCHAR
      h3 15. Maresantos <span>(rock) </span>
        a(href="http://youtu.be/R5F6O9ooJfE", target="_blank") ► ESCUCHAR
      h3 16. Mr. Cox <span>(reggae sound power) </span>
        a(href="http://youtu.be/U0WKvsedeFY", target="_blank") ► ESCUCHAR
      h3 17. Overdrive <span>(rock) </span>
        a(href="http://youtu.be/lvOlKSrRlpU", target="_blank") ► ESCUCHAR
      h3 18. Requiestcat <span>(metal) </span>
        a(href="http://youtu.be/-DHi_YEBfRg", target="_blank") ► ESCUCHAR
      h3 19. Rockoto <span>(funk rock) </span>
        a(href="http://youtu.be/ktDuhfCySS8", target="_blank") ► ESCUCHAR
      h3 20. Sad Animals <span>(ambient electrónica) </span>
        a(href="http://youtu.be/95ID_SOw6Hs", target="_blank") ► ESCUCHAR
      h3 21. Smokin' <span>(blues rock) </span>
        a(href="http://vimeo.com/95736245", target="_blank") ► ESCUCHAR
//Chiclayo|-End-
