//huancayo|-Start-
.Ticket(data-nom-entidad="huancayo")
  .Ticket-title Música en Huancayo
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>22</span> bandas de Huancayo. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 1. 40 Nativoz <span>(rock) </span>
        a(href="http://youtu.be/rmul9GXoskA", target="_blank") ► ESCUCHAR
      h3 2. Adrian Matos <span>(heavy metal) </span>
        a(href="http://youtu.be/HGKYfGNZILY", target="_blank") ► ESCUCHAR
      h3 3. El cerebro de Gregorio Samsa <span>(stoner rock) </span>
        a(href="http://goo.gl/2ME2sY", target="_blank") ► ESCUCHAR
      h3 4. D-Kievre <span>(punk rock) </span>
        a(href="http://youtu.be/OlmsdW3NLMM", target="_blank") ► ESCUCHAR
      h3 5. Dominik <span>(rock alternativo) </span>
        a(href="http://youtu.be/bE4Lz71dews", target="_blank") ► ESCUCHAR
      h3 6. Esvedra <span>(rock progresivo) </span>
        a(href="http://youtu.be/zyRqtHW-m24", target="_blank") ► ESCUCHAR
      h3 7. Estepario <span>(funk, Soul, Blues) </span>
        a(href="http://youtu.be/qHOLYKgpjsE", target="_blank") ► ESCUCHAR
      h3 8. Eulora Rock <span>(metal rock) </span>
        a(href="http://youtu.be/Y43sW78YzcY", target="_blank") ► ESCUCHAR
      h3 9. Gnoma <span>(doom death metal) </span>
        a(href="http://youtu.be/nMAo85kMu", target="_blank") ► ESCUCHAR
      h3 10. Hombres de paja <span>(punk rock) </span>
        a(href="http://youtu.be/QUNdFW5kPEw", target="_blank") ► ESCUCHAR
      h3 11. Indoraza <span>(metal rock indígena) </span>
        a(href="http://youtu.be/P2IEgxBhG6I", target="_blank") ► ESCUCHAR
      h3 12. Jichay <span>(groove metal) </span>
        a(href="http://youtu.be/vEKEf8s2ki4", target="_blank") ► ESCUCHAR
      h3 13. John Liar <span>(indie rock) </span>
        a(href="http://goo.gl/zUzFl9", target="_blank") ► ESCUCHAR
      h3 14. Leyenda <span>(blues rock rockabilly) </span>
        a(href="http://youtu.be/xAl94Avpzr8", target="_blank") ► ESCUCHAR
      h3 15. Komplicado <span>(rock alternativo) </span>
        a(href="http://youtu.be/81rJcGZS3yA", target="_blank") ► ESCUCHAR
      h3 16. NoKomforme <span>(pop punk) </span>
        a(href="http://youtu.be/ByGanxz3hcY", target="_blank") ► ESCUCHAR
      h3 17. Overdrive <span>(rock) </span>
        a(href="http://youtu.be/lvOlKSrRlpU", target="_blank") ► ESCUCHAR
      h3 18. Play a Bit <span>(post rock) </span>
        a(href="http://goo.gl/hZZov0", target="_blank") ► ESCUCHAR
      h3 19. Sangre de Acero <span>(hard rock) </span>
        a(href="http://youtu.be/M4XH_8jgOkk", target="_blank") ► ESCUCHAR
      h3 20. Smilodons <span>(heavy power progresivo) </span>
        a(href="http://youtu.be/PFbw3I8XnYc", target="_blank") ► ESCUCHAR
      h3 21. The Blue Distance <span>(indie rock electronic) </span>
        a(href="http://goo.gl/nr6gh4", target="_blank") ► ESCUCHAR
      h3 22. Viotype <span>(death metal) </span>
        a(href="http://youtu.be/7hifsdeRP6w", target="_blank") ► ESCUCHAR
//huancayo|-End-

