//La Oroya|-Start-
.Ticket(data-nom-entidad="puno")
  .Ticket-title Música en Puno
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>8</span> bandas de Puno. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Cancharani (rock) </span>
        a(href="http://youtu.be/1UFUAwSfNWA", target="_blank") ► 
      h3 <span>2. Carlos Caz (heavy metal) </span>
        a(href="http://youtu.be/bUzXJ1zqiko", target="_blank") ► 
      h3 <span>3. Clerigo (heavy metal) </span>
        a(href="http://youtu.be/4816rvt5h2M", target="_blank") ► 
      h3 <span>4. Karma (metal rock fusión) </span>
        a(href="http://youtu.be/zy1yhHPVwW4", target="_blank") ► 
      h3 <span>5. Los primos (punk rock) </span>
        a(href="https://youtu.be/Mw8xsQZwThk", target="_blank") ► 
      h3 <span>6. Masturbanda (rock) </span>
        a(href="http://youtu.be/2oogxGXl2_Q", target="_blank") ► 
      h3 <span>7. Peatones (rock) </span>
        a(href="http://youtu.be/Spe7iCV6x4I", target="_blank") ► 
      h3 <span>8. Rockpata (rock fusión]) </span>
        a(href="http://youtu.be/c8Pz8h5RJo4", target="_blank") ► 

//Puno|-End-
