//La Oroya|-Start-
.Ticket(data-nom-entidad="laoroya")
  .Ticket-title Música en La Oroya
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>11</span> bandas de La Oroya. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Aldzeimer (pop rock) </span>
        a(href="https://youtu.be/GTY6yZwyRUU", target="_blank") ► 
      h3 <span>2. Breezelyzer (experimental avantgarde, electronic) </span>
        a(href="https://breezelyzer.bandcamp.com/releases", target="_blank") ► 
      h3 <span>3. Daszenmachine (electrónica) </span>
        a(href="http://goo.gl/WroJGf", target="_blank") ► 
      h3 <span>4. La Sombra (post punk/new wave) </span>
        a(href="https://youtu.be/pzI5vYfgW64", target="_blank") ► 
      h3 <span>5. Némesis (synth pop) </span>
        a(href="https://youtu.be/Mw8xsQZwThk", target="_blank") ► 
      h3 <span>6. Nietzkov (electrónica house) </span>
        a(href="https://youtu.be/KzsCQOXl2n0", target="_blank") ► 
      h3 <span>7. Malas intenciones (rock) </span>
        a(href="https://youtu.be/SF_EBMm12iY", target="_blank") ► 
      h3 <span>8. Manu Portugal (pop rock) </span>
        a(href="https://youtu.be/0Ob9tMTEdN8", target="_blank") ► 
      h3 <span>9. Paranoid (metal rock) </span>
        a(href="https://youtu.be/Jffq4ZnQrs8", target="_blank") ► 
      h3 <span>10. Trikozan (rock) </span>
        a(href="https://youtu.be/iSuo0SDGFB8", target="_blank") ► 
      h3 <span>11. Trivial (rock'n pop) </span>
        a(href="https://youtu.be/EiV_c0xZhPQ", target="_blank") ► 
//La Oroya|-End-
