//chiclayo|-Start-
.Ticket(data-nom-entidad="chiclayo")
  .Ticket-title Música en Chiclayo
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>21</span> bandas de Chiclayo. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Adaluz (hard rock) </span>
        a(href="http://youtu.be/diGWyqyHAX8", target="_blank") ► 
      h3 <span>2. Aia Paec (rock experimental) </span>
        a(href="http://aiapaec.bandcamp.com/", target="_blank") ► 
      h3 <span>3. Belladona (rock) </span>
        a(href="https://youtu.be/5dSY9yY3edI", target="_blank") ► 
      h3 <span>4. Carcava (death metal) </span>
        a(href="http://youtu.be/L0Ff1RZV7IA", target="_blank") ► 
      h3 <span>5. Diéresis (rock alternativo) </span>
        a(href="http://youtu.be/e6Q6khOlKy8", target="_blank") ► 
      h3 <span>6. Dr. Changó (ska fusión) </span>
        a(href="https://youtu.be/b17kkcizmkc", target="_blank") ► 
      h3 <span>7. Haarp (rock alternativo) </span>
        a(href="https://youtu.be/5yVL_4M5qaA", target="_blank") ► 
      h3 <span>8. Huaca Roots (reggae) </span>
        a(href="http://youtu.be/54Fluh_Stk4", target="_blank") ► 
      h3 <span>9. Inmune HC (punk hardcore) </span>
        a(href="https://soundcloud.com/inmune-hc", target="_blank") ► 
      h3 <span>10. Jackhammer (metal) </span>
        a(href="http://youtu.be/OC3M7YAs3Wo", target="_blank") ► 
      h3 <span>11. Kodigo Civil (punk rock) </span>
        a(href="http://youtu.be/U0WKvsedeFY", target="_blank") ► 
      h3 <span>12. Korrosion (punk hardcore) </span>
        a(href="http://youtu.be/59yyZdjzUMc", target="_blank") ► 
      h3 <span>13. Korte Transversal (punk reggae ska) </span>
        a(href="http://youtu.be/1UsSfYu-HKA", target="_blank") ► 
      h3 <span>14. Leyenda (blues rock rockabilly) </span>
        a(href="http://youtu.be/xAl94Avpzr8", target="_blank") ► 
      h3 <span>15. Maresantos (rock) </span>
        a(href="http://youtu.be/R5F6O9ooJfE", target="_blank") ► 
      h3 <span>16. Mr. Cox (reggae sound power) </span>
        a(href="http://youtu.be/U0WKvsedeFY", target="_blank") ► 
      h3 <span>17. Overdrive (rock) </span>
        a(href="http://youtu.be/lvOlKSrRlpU", target="_blank") ► 
      h3 <span>18. Requiestcat (metal) </span>
        a(href="http://youtu.be/-DHi_YEBfRg", target="_blank") ► 
      h3 <span>19. Rockoto (funk rock) </span>
        a(href="http://youtu.be/ktDuhfCySS8", target="_blank") ► 
      h3 <span>20. Sad Animals (ambient electrónica) </span>
        a(href="http://youtu.be/95ID_SOw6Hs", target="_blank") ► 
      h3 <span>21. Smokin' (blues rock) </span>
        a(href="http://vimeo.com/95736245", target="_blank") ► 
//Chiclayo|-End-
