//Pucallpa|-Start-
.Ticket(data-nom-entidad="pucallpa")
  .Ticket-title Música en Pucallpa
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>11</span> bandas de Pucallpa. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Far Away (rock alternativo) </span>
        a(href="https://www.youtube.com/watch?v=DgUAV7nU6m8", target="_blank") ► 
//Pucallpa|-End-
