//Cajamarca|-Start-
.Ticket.Ticket-azteca(data-nom-entidad="cajamarca")
  .Ticket-title Música en Cajamarca
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>43</span> bandas de Cajamarca. Si conoces alguna más,  
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. Audiosónica (pop rock alternativo) </span>
        a(href="https://youtu.be/QIBhg60DrAc", target="_blank") ► 
      h3 <span>2. Bandera Negra (death black metal) </span>
        a(href="http://youtu.be/MD7FgUtDzlU", target="_blank") ► 
      h3 <span>3. Biologica Bit (electro rock) </span>
        a(href="http://goo.gl/kcBZz7", target="_blank") ► 
      h3 <span>4. Cancerbero (nu metal) </span>
        a(href="https://soundcloud.com/cancerbero-1", target="_blank") ► 
      h3 <span>5. Colateral (rock) </span>
        a(href="https://youtu.be/buONmcP22CM", target="_blank") ► 
      h3 <span>6. Colapso (rock alternativo) </span>
        a(href="https://soundcloud.com/colapso-rockperu", target="_blank") ► 
      h3 <span>7. Depraved (death metal) </span>
        a(href="http://youtu.be/tBYSSz2fZaQ", target="_blank") ► 
      h3 <span>8. Desconectado (hard rock) </span>
        a(href="http://goo.gl/mWpl6r", target="_blank") ► 
      h3 <span>9. Eterno (hardcore) </span>
        a(href="https://youtu.be/FCL6ClAC8Hs", target="_blank") ► 
      h3 <span>10. Eterea (punk rock) </span>
        a(href="https://youtu.be/QIBhg60DrAc", target="_blank") ► 
      h3 <span>11. Gente Cangrejo (post hardcore) </span>
        a(href="https://youtu.be/tICu_be6pWc", target="_blank") ► 
      h3 <span>12. Granizo (Lofi) </span>
        a(href="http://youtu.be/dfC0lZwCLG4", target="_blank") ► 
      h3 <span>13. Gusanos de cuerda (psicodelia) </span>
        a(href="https://soundcloud.com/ramon-mu-oz/02-un-cuento-mas", target="_blank") ► 
      h3 <span>14. Franco Hamilton (pop rock) </span>
        a(href="http://youtu.be/DsIjgPPzxA4", target="_blank") ► 
      h3 <span>15. Forastero (hardcore punk) </span>
        a(href="https://youtu.be/WPLEQXQIsUQ", target="_blank") ► 
      h3 <span>16. Holocausto (rock instrumental) </span>
        a(href="http://youtu.be/Oql4NysTcXM", target="_blank") ► 
      h3 <span>17. Kaliko y los Caliches (rock) </span>
        a(href="http://youtu.be/VyG59iYAT00", target="_blank") ► 
      h3 <span>18. Karikatumba (hard rock) </span>
        a(href="http://youtu.be/6ENfSCRpFYU", target="_blank") ► 
      h3 <span>19. La kuchanguita (ska punk reggae) </span>
        a(href="http://youtu.be/fyn4g0LSYvE", target="_blank") ► 
      h3 <span>20. La mancha de Dulcinea (punk rock) </span>
        a(href="http://youtu.be/u780dVnzqwU", target="_blank") ► 
    .row
      h3 <span>21. Las ratapunk (punk) </span>
        a(href="http://youtu.be/ci5wS1yuRsA", target="_blank") ► 
      h3 <span>22. Los hugos (anarkopunk) </span>
        a(href="https://youtu.be/8RapXUw8bKY", target="_blank") ► 
      h3 <span>23. Marea Cristal (indie pop) </span>
        a(href="http://mareacristal.bandcamp.com/", target="_blank") ► 
      h3 <span>24. N.A.T.I.V.O (nu metal) </span>
        a(href="https://youtu.be/G-9e74t_JOA", target="_blank") ► 
      h3 <span>25. Nueva Dirección (hardcore punk) </span>
        a(href="http://youtu.be/UQe8Em-Gohg", target="_blank") ► 
      h3 <span>26. Oscar Pajares (electrónica fusión) </span>
        a(href="http://youtu.be/n8kS9oXC3Og", target="_blank") ► 
      h3 <span>27. Holocausto (rock instrumental) </span>
        a(href="http://youtu.be/Oql4NysTcXM", target="_blank") ► 
      h3 <span>28. Pérdida (hardcore punk) </span>
        a(href="http://perdidahc.bandcamp.com/", target="_blank") ► 
      h3 <span>29. Regret (metal) </span>
        a(href="http://youtu.be/BT5S2pvGoZg", target="_blank") ► 
      h3 <span>30. Rejunta2 (funky reggae) </span>
        a(href="https://www.youtube.com/watch?v=rz78fiBi7Nc", target="_blank") ► 
      h3 <span>31. Ruido Negro (rock) </span>
        a(href="https://youtu.be/JoeFOd5jaRo", target="_blank") ► 
      h3 <span>32. Serrania (fusión) </span>
        a(href="http://youtu.be/CFRn91NQ_mw", target="_blank") ► 
      h3 <span>33. Schokta (rock) </span>
        a(href="hhttps://youtu.be/vOxMNZIbnpo", target="_blank") ► 
      h3 <span>34. Shukakes (punk rock) </span>
        a(href="http://youtu.be/hpt67mrwqYA", target="_blank") ► 
      h3 <span>35. Sin Patria (punk) </span>
        a(href="http://youtu.be/YWQ9cYeusAg", target="_blank") ► 
      h3 <span>36. Sueño inmortal (rock) </span>
        a(href="http://youtu.be/JoeFOd5jaRo", target="_blank") ► 
      h3 <span>37. Surmenage (grunge) </span>
        a(href="http://youtu.be/Jw6vsUOFT58", target="_blank") ► 
      h3 <span>38. Transgresión (metal core) </span>
        a(href="https://myspace.com/transgresionperu/music", target="_blank") ► 
      h3 <span>39. Tropel (punk rock) </span>
        a(href="http://youtu.be/mkA0_05KCzQ", target="_blank") ► 
      h3 <span>40. Unidad 4 (punk rock) </span>
        a(href="http://youtu.be/1458DVfG3Mw", target="_blank") ► 
      h3 <span>41. Velociraptors (garage rock) </span>
        a(href="https://youtu.be/o4d4LVnAD6M", target="_blank") ► 
      h3 <span>42. Vete a la mierda (anarko raw punk) </span>
        a(href="http://youtu.be/Ucskyg7Vouk", target="_blank") ► 
      h3 <span>43. Yma Sumac (lírico) </span>
        a(href="http://youtu.be/Tc6xzHaSDKo", target="_blank") ►    
//Cajamarca|-End-
