//Piura|-Start-
.Ticket(data-nom-entidad="piura")
  .Ticket-title Música en Piura
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>11</span> bandas de Piura. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 <span>1. 7 Trips (Dubstep) </span>
        a(href="https://youtu.be/GTY6yZwyRUU", target="_blank") ► 
      h3 <span>2.Shokekos (ska punk) </span>
        a(href="https://breezelyzer.bandcamp.com/releases", target="_blank") ► 
      h3 <span>3. Deskalibra2 (punk) </span>
        a(href="http://goo.gl/WroJGf", target="_blank") ► 
//Piura|-End-
