//Comienzo contenido Arequipa
.Ticket.is-visible(data-nom-entidad="arequipa")
  .Ticket-title Música en Arequipa
  .Ticket-guia 
    .guia-content 
      p Hemos recopilado actualmente <span>71</span> bandas de Arequipa. Si conoces alguna más, 
        a(href="https://www.facebook.com/RockAchorao/", target="_blank") escríbenos.
  .Ticket-content
    .row
      h3 1. Aero <span>(post grunge) </span>
        a(href="http://aero-rock.bandcamp.com/album/depr3s-nica", target="_blank") ► ESCUCHAR
      h3 2. Alias La Gringa <span>(garaje, hardcore) </span>
        a(href="https://soundcloud.com/alias-la-gringa", target="_blank") ► ESCUCHAR
      h3 3. Anonimos <span>(indie rock) </span>
        a(href="https://youtu.be/5Biy7lpIpGE", target="_blank") ► ESCUCHAR
      h3 4. Apuman <span>(fusión) </span>
        a(href="https://youtu.be/FwFeiDMuyes", target="_blank") ► ESCUCHAR
      h3 5. Barriada vulgar <span>(punk rock) </span>
        a(href="https://youtu.be/jJmEakTIaJQ", target="_blank") ► ESCUCHAR
      h3 6. Beis <span>(synth pop) </span>
        a(href="https://soundcloud.com/beis-beis", target="_blank") ► ESCUCHAR
      h3 7. Carga Ligera <span>(indie rock) </span>
        a(href="https://youtu.be/oclH86L42Ug", target="_blank") ► ESCUCHAR
      h3 8. CHASKA folk metal <span>(folk metal) </span>
        a(href="https://youtu.be/XB8vPFektzg", target="_blank") ► ESCUCHAR
      h3 9. Comfuzztible <span>(garaje) </span>
        a(href="https://youtu.be/Age95jf5kKA", target="_blank") ► ESCUCHAR
      h3 10. Delay Tambor <span>(idm/ambient) </span>
        a(href="https://soundcloud.com/mias/delay-tambor-dimension-dante-droid-2600-remix", target="_blank") ► ESCUCHAR
      h3 11. Detonador Rocanrol <span>(post grunge) </span>
        a(href="https://youtu.be/nWW_p2-nUAA", target="_blank") ► ESCUCHAR
      h3 12. Discrepunkcia <span>(punk) </span>
        a(href="https://youtu.be/sSVnPya1YB8", target="_blank") ► ESCUCHAR
      h3 13. "EL ENCAJE" Perfecto <span>(hip hop fusión) </span>
        a(href="https://youtu.be/C5kzS8N4RPI", target="_blank") ► ESCUCHAR
      h3 14. Em Virginia <span>(rock alternativo) </span>
        a(href="https://youtu.be/_9XghlBc7uI", target="_blank") ► ESCUCHAR
      h3 15. Entrenieblas <span>(post punk revival) </span>
        a(href="https://youtu.be/IjfXyuZz_8w", target="_blank") ► ESCUCHAR
      h3 16. Felix Dorian <span>(rock n roll) </span>
        a(href="https://youtu.be/L68EPRK_P0w", target="_blank") ► ESCUCHAR
      h3 17. Fiorella16 <span>(ruidismo) </span>
        a(href="https://youtu.be/gP7QLvcXeU4", target="_blank") ► ESCUCHAR
      h3 18. Fobya <span>(post punk) </span>
        a(href="https://youtu.be/go0g2jxhBIo", target="_blank") ► ESCUCHAR
      h3 19. Freak <span>(Funk core) </span>
        a(href="https://youtu.be/DP8Zx_7l-Tc", target="_blank") ► ESCUCHAR
      h3 20. Gallina McFly <span>(fusión/rockabilly) </span>
        a(href="https://youtu.be/_PgzE-8ErwY", target="_blank") ► ESCUCHAR    
      h3 21. Go Icarus <span>(indie folk/pop barroco) </span>
        a(href="https://youtu.be/Khnu-wt8ZW8", target="_blank") ► ESCUCHAR
      h3 22. Grito de miseria <span>(anarkopunk) </span>
        a(href="https://youtu.be/Jj0-9NlEfzM", target="_blank") ► ESCUCHAR
      h3 23. H.Sandro <span>(blues rock) </span>
        a(href="https://soundcloud.com/azuldesierto", target="_blank") ► ESCUCHAR
      h3 24. Hammelin <span>(folk metal) </span>
        a(href="https://youtu.be/SPQOnYT9CaM", target="_blank") ► ESCUCHAR
      h3 25. Hoja seca <span>(rock alternativo) </span>
        a(href="https://soundcloud.com/urban-daemon/hoja-seca-instinto-bipolar", target="_blank") ► ESCUCHAR
      h3 26. Jacketts <span>(hard rock) </span>
        a(href="https://youtu.be/rjeK_pjbCas", target="_blank") ► ESCUCHAR
      h3 27. La familia <span>(garage) </span>
        a(href="https://soundcloud.com/sucio-records/balacera-la-familia", target="_blank") ► ESCUCHAR
      h3 28. La katana funk <span>(funk) </span>
        a(href="https://youtu.be/wRDBeQQ2N2Q", target="_blank") ► ESCUCHAR
      h3 29. La vie <span>(indie folk/post rock) </span>
        a(href="http://youtu.be/echru1z5hkmr", target="_blank") ► ESCUCHAR
      h3 30. Legión sacra <span>(death thrash metal) </span>
        a(href="https://www.youtube.com/watch?v=rWNXL4pUVig", target="_blank") ► ESCUCHAR
      h3 31. Llantas negras <span>(ska punk) </span>
        a(href="https://youtu.be/hsUgiE2iKpU", target="_blank") ► ESCUCHAR
      h3 32. Los Chapillacs <span>(fusión, chicha) </span>
        a(href="https://youtu.be/vQYMxDyq9Lc", target="_blank") ► ESCUCHAR
      h3 33. Los death monkeys <span>(nu metal) </span>
        a(href="https://youtu.be/ktOKmEZMnZI", target="_blank") ► ESCUCHAR
      h3 34. Los flechados <span>(punk rock) </span>
        a(href="http://youtu.be/jmdqmc1jble", target="_blank") ► ESCUCHAR
      h3 35. Los monkiss <span>(fusión) </span>
        a(href="https://youtu.be/XBJ3R3RLM7g", target="_blank") ► ESCUCHAR
    .row
      h3 36. Los paicons <span>(surf garaje rock) </span>
        a(href="https://soundcloud.com/sucio-records/huachito-de-loteria-los", target="_blank") ► ESCUCHAR
      h3 37. Mambala <span>(reggae fusión) </span>
        a(href="https://youtu.be/0uYexAxSqvk", target="_blank") ► ESCUCHAR
      h3 38. ManiaC <span>(thrash metal) </span>
        a(href="https://youtu.be/Ya1fBRMRo5Q", target="_blank") ► ESCUCHAR
      h3 39. Mudra <span>(thrash metal) </span>
        a(href="http://youtu.be/zhz_rb_3xcg", target="_blank") ► ESCUCHAR
      h3 40. Mulamuerta <span>(punk rock) </span>
        a(href="https://youtu.be/4KVUl1FalEQ", target="_blank") ► ESCUCHAR
      h3 41. Natural Misti <span>(Reggae roots andino) </span>
        a(href="https://youtu.be/3fqh1-abBGo", target="_blank") ► ESCUCHAR
      h3 42. Nodo <span>(idm/ambient) </span>
        a(href="https://soundcloud.com/mias/nodo-dinamica-del-viento-y-el-mar", target="_blank") ► ESCUCHAR
      h3 43. Noir <span>(post punk) </span>
        a(href="https://youtu.be/eGK6SjmcY60", target="_blank") ► ESCUCHAR
      h3 44. Nousvlid <span>(post hardcore) </span>
        a(href="https://youtu.be/r8o5uD7rtTQ", target="_blank") ► ESCUCHAR
      h3 45. Orquidea <span>(shoegazing) </span>
        a(href="https://youtu.be/AU4CcvZHPII", target="_blank") ► ESCUCHAR
      h3 46. Oscuro <span>(rap, hip hop) </span>
        a(href="https://youtu.be/n5FZi5oh5Pw", target="_blank") ► ESCUCHAR 
      h3 47. Persepolis <span>(indie rock, psicodelia) </span>
        a(href="https://youtu.be/PJZzUdHqviQ", target="_blank") ► ESCUCHAR
      h3 48. Peter Pedro <span>(post rock) </span>
        a(href="https://youtu.be/9VMjLrEYgoY", target="_blank") ► ESCUCHAR
      h3 49. Pez Revolver <span>(soft rock) </span>
        a(href="http://youtu.be/8MCInYfGxpg", target="_blank") ► ESCUCHAR
      h3 50. Platónica <span>(pop rock) </span>
        a(href="http://youtu.be/I_dW5-iIkZk", target="_blank") ► ESCUCHAR 
      h3 51. Quilluya <span>(electro fusión experimental) </span>
        a(href="https://soundcloud.com/quilluya/nanaq-miskilla", target="_blank") ► ESCUCHAR
      h3 52. Rock and Rose <span>(soft rock) </span>
        a(href="http://youtu.be/1cPS-wUVW4s", target="_blank") ► ESCUCHAR
      h3 53. Roncha Kills <span>(hardcore punk) </span>
        a(href="https://soundcloud.com/ronchakills", target="_blank") ► ESCUCHAR
      h3 54. S-23 <span>(nu metal/post grunge) </span>
        a(href="https://youtu.be/45XClQB89UI", target="_blank") ► ESCUCHAR
      h3 55. Southern Lions <span>(nu metal, metalcore) </span>
        a(href="https://youtu.be/-t2YYf9FZ24", target="_blank") ► ESCUCHAR
      h3 56. Stonearth <span>(stoner rock) </span>
        a(href="https://soundcloud.com/spiralarips/stonearth-entre-mis-manos", target="_blank") ► ESCUCHAR
      h3 57. Synhysteria <span>(blues rock) </span>
        a(href="https://youtu.be/D7L58tE2lzk", target="_blank") ► ESCUCHAR
      h3 58. The lunes <span>(indie rock) </span>
        a(href="https://soundcloud.com/the-lunes", target="_blank") ► ESCUCHAR
      h3 59. The orange room <span>(rock alternativo) </span>
        a(href="https://youtu.be/yiiIOyuLRsE", target="_blank") ► ESCUCHAR 
      h3 60. The play <span>(indie rock) </span>
        a(href="https://youtu.be/dRh4VEK3RBg", target="_blank") ► ESCUCHAR
      h3 61. Tony Danza <span>(math rock/post hardcore) </span>
        a(href="https://youtu.be/pQaJccKjXTc", target="_blank") ► ESCUCHAR
      h3 62. Trepanador <span>(death metal) </span>
        a(href="https://youtu.be/4UVwcO3Yhio", target="_blank") ► ESCUCHAR
      h3 63. Trustor <span>(thrash metal) </span>
        a(href="https://youtu.be/fsmKjsxN2gs", target="_blank") ► ESCUCHAR 
      h3 64. Túpac yufunkuy <span>(funk) </span>
        a(href="https://youtu.be/Jd8gzYQHNtA", target="_blank") ► ESCUCHAR
      h3 65. X Dinero <span>(ska/ rock ligero) </span>
        a(href="https://www.youtube.com/watch?v=vzu2_LOXD4M", target="_blank") ► ESCUCHAR
      h2 BONUS      
      h3 66. Los incognitos <span>(rock 60s) </span>
        a(href="https://youtu.be/VtJNssN8OmE", target="_blank") ► ESCUCHAR
      h3 67. Los texao <span>(rock garage 60s) </span>
        a(href="https://youtu.be/lxFdf71vsuw", target="_blank") ► ESCUCHAR 
      h3 68. Free love system <span>(rock psicodélico 70s) </span>
        a(href="https://youtu.be/sC29t6yYsbs", target="_blank") ► ESCUCHAR
      h3 69. Baretto <span>(soft rock, progre 80-90s) </span>
        a(href="https://youtu.be/KOTM78es1xQ", target="_blank") ► ESCUCHAR
      h3 70. Playa cero <span>(rock, reggae 90s) </span>
        a(href="https://youtu.be/nODQJhpwq1M", target="_blank") ► ESCUCHAR
      h3 71. Konflicto interno <span>(anarkopunk 90s) </span>
        a(href="https://youtu.be/eIcsnXKcSK4", target="_blank") ► ESCUCHAR
//Fin contenido Arequipa