//chiclayo|-Start-
.Ticket(data-nom-entidad="chiclayo")
  .Ticket-title Referencia de Pago
  .Ticket-guia 
    .guia-content Acude a la sucursal Banorte-IXE y da el <b>número de convenio, número de referencia</b> y monto <b>a pagar</b>. El pago es a nombre de <b>SafetyPay</b>. Podrás pagar en <b>Efectivo o cheque de Banorte-IXE</b>
  .Ticket-content
    h3 Eterea <span>(punk rock) </span>
      a(href="https://youtu.be/QIBhg60DrAc", target="_blank") ► ESCUCHAR
//Chiclayo|-End-
