//|MEX|Cash|Bancos|1004_"Santander"|-Start-
.Ticket.Ticket-santander(data-nom-entidad="santander")
  .Ticket-title Referencia de Pago
  .Ticket-guia 
    .guia-content Acude a la sucursal Santander y da el <b>número de convenio, número de referencia</b> y monto <b>a pagar</b>. El pago es a nombre de <b>SafetyPay</b>. Podrás pagar en <b>Efectivo o cheque de Santander</b>.
  .Ticket-content
    .Ticket-codigo.nopadding
      .row.row--agencia
        p.title-value Número de Convenio
        h2.value 5029
      .row.row--cuentacorriente
        p.title-value Número de referencia
        //- span.barcode
        //-   img(src="img/barcode-large.png", alt="")
        h2.value 9038-5823-6273-322-41
    .Ticket-total
      .Ticket-total-detalle
        .row
          p.label Total:
          h2.value $ 536.99
    .Ticket-tiempo
      .tiempo-mensaje
        b Tienes:
      .tiempo-reloj
        i.icon-clock
        span#timer_hor_1 183h
        span.divisor :
        span#timer_min_1(data-minutos='58') 58m
        span.divisor :
        span#timer_seg_1 24s
      .tiempo-mensaje Paga antes del 20 Oct 2018 - 23:35 hrs.
  .Ticket-terminos
    span <input type="checkbox" checked="checked"> 
    span Ver <a href="#">Términos y Condiciones</a> y <a href="#">políticas de privacidad</a>
    span El total incluye $ 1.20 por costos operativos
  include ../../../envio-instrucciones/envio-instrucciones-efectivo.pug
//|MEX|Cash|Bancos|1004_"Santander"|-End-
