//Cajamarca|-Start-
.Ticket.Ticket-azteca(data-nom-entidad="cajamarca")
  .Ticket-title Referencia de Pago
  .Ticket-guia 
    .guia-content Acude a tu sucursal Banco Azteca y da el <b>Nombre de Convenio, número de referencia</b> y monto <b>a pagar</b>. El pago es a nombre de <b>SafetyPay</b>. Podrás pagar en <b>Efectivo o cheque de Banco Azteca</b>.
  .Ticket-content
    h3 Eterea <span>(punk rock) </span>
      a(href="https://youtu.be/QIBhg60DrAc", target="_blank") ► ESCUCHAR
    h3 Gente Cangrejo <span>(post hardcore) </span>
      a(href="https://youtu.be/tICu_be6pWc", target="_blank") ► ESCUCHAR
    h3 Granizo <span>(Lofi) </span>
      a(href="http://youtu.be/dfC0lZwCLG4", target="_blank") ► ESCUCHAR
    h3 Gusanos de cuerda <span>(psicodelia) </span>
      a(href="https://soundcloud.com/ramon-mu-oz/02-un-cuento-mas", target="_blank") ► ESCUCHAR
    h3 Franco Hamilton <span>(pop rock) </span>
      a(href="http://youtu.be/DsIjgPPzxA4", target="_blank") ► ESCUCHAR
    h3 Forastero <span>(hardcore punk) </span>
      a(href="https://youtu.be/WPLEQXQIsUQ", target="_blank") ► ESCUCHAR
    h3 Holocausto <span>(rock instrumental) </span>
      a(href="http://youtu.be/Oql4NysTcXM", target="_blank") ► ESCUCHAR
    h3 Kaliko y los Caliches <span>(rock) </span>
      a(href="http://youtu.be/VyG59iYAT00", target="_blank") ► ESCUCHAR
    h3 Karikatumba <span>(hard rock) </span>
      a(href="http://youtu.be/6ENfSCRpFYU", target="_blank") ► ESCUCHAR
    h3 La kuchanguita <span>(ska punk reggae) </span>
      a(href="http://youtu.be/fyn4g0LSYvE", target="_blank") ► ESCUCHAR
    h3 La mancha de Dulcinea <span>(punk rock) </span>
      a(href="http://youtu.be/u780dVnzqwU", target="_blank") ► ESCUCHAR
    h3 Las ratapunk <span>(punk) </span>
      a(href="http://youtu.be/ci5wS1yuRsA", target="_blank") ► ESCUCHAR
    h3 Los hugos <span>(anarkopunk) </span>
      a(href="https://youtu.be/8RapXUw8bKY", target="_blank") ► ESCUCHAR
    
//Cajamarca|-End-
