//Comienzo contenido Arequipa
.Ticket.is-visible(data-nom-entidad="arequipa")
  .Ticket-title Referencia de Pago
  .Ticket-guia 
    .guia-content Acércate a la sucursal BBVA Bancomer y da el <b>número de convenio, número de referencia</b> y monto <b>a pagar</b>. El pago es a nombre de <b>SafetyPay</b>. Podrás pagar en <b>Efectivo o cheque de BBVA Bancomer</b>.
  .Ticket-content
    h3 Aero <span>(post grunge) </span>
      a(href="http://aero-rock.bandcamp.com/album/depr3s-nica", target="_blank") ► ESCUCHAR
    h3 Alias La Gringa <span>(garaje, hardcore) </span>
      a(href="https://soundcloud.com/alias-la-gringa", target="_blank") ► ESCUCHAR
    h3 Anonimos <span>(indie rock) </span>
      a(href="https://youtu.be/5Biy7lpIpGE", target="_blank") ► ESCUCHAR
    h3 Apuman <span>(fusión) </span>
      a(href="https://youtu.be/FwFeiDMuyes", target="_blank") ► ESCUCHAR
    h3 Barriada vulgar <span>(punk rock) </span>
      a(href="https://youtu.be/jJmEakTIaJQ", target="_blank") ► ESCUCHAR
    h3 Beis <span>(synth pop) </span>
      a(href="https://soundcloud.com/beis-beis", target="_blank") ► ESCUCHAR
    h3 Carga Ligera <span>(indie rock) </span>
      a(href="https://youtu.be/oclH86L42Ug", target="_blank") ► ESCUCHAR
    h3 CHASKA folk metal <span>(folk metal) </span>
      a(href="https://youtu.be/XB8vPFektzg", target="_blank") ► ESCUCHAR
    h3 Comfuzztible <span>(garaje) </span>
      a(href="https://youtu.be/Age95jf5kKA", target="_blank") ► ESCUCHAR
    h3 Delay Tambor <span>(idm/ambient) </span>
      a(href="https://soundcloud.com/mias/delay-tambor-dimension-dante-droid-2600-remix", target="_blank") ► ESCUCHAR
    h3 Detonador Rocanrol <span>(post grunge) </span>
      a(href="https://youtu.be/nWW_p2-nUAA", target="_blank") ► ESCUCHAR
    h3 Discrepunkcia <span>(punk) </span>
      a(href="https://youtu.be/sSVnPya1YB8", target="_blank") ► ESCUCHAR
    h3 "EL ENCAJE" Perfecto <span>(hip hop fusión) </span>
      a(href="https://youtu.be/C5kzS8N4RPI", target="_blank") ► ESCUCHAR
    h3 Em Virginia <span>(rock alternativo) </span>
      a(href="https://youtu.be/_9XghlBc7uI", target="_blank") ► ESCUCHAR
    h3 Entrenieblas <span>(post punk revival) </span>
      a(href="https://youtu.be/IjfXyuZz_8w", target="_blank") ► ESCUCHAR
    h3 Felix Dorian <span>(rock n roll) </span>
      a(href="https://youtu.be/L68EPRK_P0w", target="_blank") ► ESCUCHAR
    h3 Fiorella16 <span>(ruidismo) </span>
      a(href="https://youtu.be/gP7QLvcXeU4", target="_blank") ► ESCUCHAR
    h3 Fobya <span>(post punk) </span>
      a(href="https://youtu.be/go0g2jxhBIo", target="_blank") ► ESCUCHAR
    h3 Freak <span>(Funk core) </span>
      a(href="https://youtu.be/DP8Zx_7l-Tc", target="_blank") ► ESCUCHAR
    h3 Gallina McFly <span>(fusión/rockabilly) </span>
      a(href="https://youtu.be/_PgzE-8ErwY", target="_blank") ► ESCUCHAR
    h3 Go Icarus <span>(indie folk/pop barroco) </span>
      a(href="https://youtu.be/Khnu-wt8ZW8", target="_blank") ► ESCUCHAR
    h3 Grito de miseria <span>(anarkopunk) </span>
      a(href="https://youtu.be/Jj0-9NlEfzM", target="_blank") ► ESCUCHAR
    h3 H.Sandro <span>(blues rock) </span>
      a(href="https://soundcloud.com/azuldesierto", target="_blank") ► ESCUCHAR
    h3 Hammelin <span>(folk metal) </span>
      a(href="https://youtu.be/SPQOnYT9CaM", target="_blank") ► ESCUCHAR
    h3 Hoja seca <span>(rock alternativo) </span>
      a(href="https://soundcloud.com/urban-daemon/hoja-seca-instinto-bipolar", target="_blank") ► ESCUCHAR
    h3 Jacketts <span>(hard rock) </span>
      a(href="https://youtu.be/rjeK_pjbCas", target="_blank") ► ESCUCHAR
    h3 La familia <span>(garage) </span>
      a(href="https://soundcloud.com/sucio-records/balacera-la-familia", target="_blank") ► ESCUCHAR
    h3 La katana funk <span>(funk) </span>
      a(href="https://youtu.be/wRDBeQQ2N2Q", target="_blank") ► ESCUCHAR
    h3 La vie <span>(indie folk/post rock) </span>
      a(href="http://youtu.be/echru1z5hkmr", target="_blank") ► ESCUCHAR
    h3 Legión sacra <span>(death thrash metal) </span>
      a(href="https://www.youtube.com/watch?v=rWNXL4pUVig", target="_blank") ► ESCUCHAR
    h3 Llantas negras <span>(ska punk) </span>
      a(href="https://youtu.be/hsUgiE2iKpU", target="_blank") ► ESCUCHAR
    h3 Los Chapillacs <span>(fusión, chicha) </span>
      a(href="https://youtu.be/vQYMxDyq9Lc", target="_blank") ► ESCUCHAR
    h3 Los death monkeys <span>(nu metal) </span>
      a(href="https://youtu.be/ktOKmEZMnZI", target="_blank") ► ESCUCHAR
    h3 Los flechados <span>(punk rock) </span>
      a(href="http://youtu.be/jmdqmc1jble", target="_blank") ► ESCUCHAR
    h3 Los monkiss <span>(fusión) </span>
      a(href="https://youtu.be/XBJ3R3RLM7g", target="_blank") ► ESCUCHAR
    h3 Los paicons <span>(surf garaje rock) </span>
      a(href="https://soundcloud.com/sucio-records/huachito-de-loteria-los", target="_blank") ► ESCUCHAR
    h3 Mambala <span>(reggae fusión) </span>
      a(href="https://youtu.be/0uYexAxSqvk", target="_blank") ► ESCUCHAR
    h3 ManiaC <span>(thrash metal) </span>
      a(href="https://youtu.be/Ya1fBRMRo5Q", target="_blank") ► ESCUCHAR
    h3 Mudra <span>(thrash metal) </span>
      a(href="http://youtu.be/zhz_rb_3xcg", target="_blank") ► ESCUCHAR
    h3 Mulamuerta <span>(punk rock) </span>
      a(href="https://youtu.be/4KVUl1FalEQ", target="_blank") ► ESCUCHAR
    h3 Natural Misti <span>(Reggae roots andino) </span>
      a(href="https://youtu.be/3fqh1-abBGo", target="_blank") ► ESCUCHAR
    h3 Nodo <span>(idm/ambient) </span>
      a(href="https://soundcloud.com/mias/nodo-dinamica-del-viento-y-el-mar", target="_blank") ► ESCUCHAR
    h3 Noir <span>(post punk) </span>
      a(href="https://youtu.be/eGK6SjmcY60", target="_blank") ► ESCUCHAR
    h3 Nousvlid <span>(post hardcore) </span>
      a(href="https://youtu.be/r8o5uD7rtTQ", target="_blank") ► ESCUCHAR
    h3 Orquidea <span>(shoegazing) </span>
      a(href="https://youtu.be/AU4CcvZHPII", target="_blank") ► ESCUCHAR
    h3 Oscuro <span>(rap, hip hop) </span>
      a(href="https://youtu.be/n5FZi5oh5Pw", target="_blank") ► ESCUCHAR 
    h3 Persepolis <span>(indie rock, psicodelia) </span>
      a(href="https://youtu.be/PJZzUdHqviQ", target="_blank") ► ESCUCHAR
    h3 Peter Pedro <span>(post rock) </span>
      a(href="https://youtu.be/9VMjLrEYgoY", target="_blank") ► ESCUCHAR
    h3 Pez Revolver <span>(soft rock) </span>
      a(href="http://youtu.be/8MCInYfGxpg", target="_blank") ► ESCUCHAR
    h3 Platónica <span>(pop rock) </span>
      a(href="http://youtu.be/I_dW5-iIkZk", target="_blank") ► ESCUCHAR 
    h3 Quilluya <span>(electro fusión experimental) </span>
      a(href="https://soundcloud.com/quilluya/nanaq-miskilla", target="_blank") ► ESCUCHAR
    h3 Rock and Rose <span>(soft rock) </span>
      a(href="http://youtu.be/1cPS-wUVW4s", target="_blank") ► ESCUCHAR
    h3 Roncha Kills <span>(hardcore punk) </span>
      a(href="https://soundcloud.com/ronchakills", target="_blank") ► ESCUCHAR
    h3 S-23 <span>(nu metal/post grunge) </span>
      a(href="https://youtu.be/45XClQB89UI", target="_blank") ► ESCUCHAR
    h3 Southern Lions <span>(nu metal, metalcore) </span>
      a(href="https://youtu.be/-t2YYf9FZ24", target="_blank") ► ESCUCHAR
    h3 Stonearth <span>(stoner rock) </span>
      a(href="https://soundcloud.com/spiralarips/stonearth-entre-mis-manos", target="_blank") ► ESCUCHAR
    h3 Synhysteria <span>(blues rock) </span>
      a(href="https://youtu.be/D7L58tE2lzk", target="_blank") ► ESCUCHAR
    h3 The lunes <span>(indie rock) </span>
      a(href="https://soundcloud.com/the-lunes", target="_blank") ► ESCUCHAR
    h3 The orange room <span>(rock alternativo) </span>
      a(href="https://youtu.be/yiiIOyuLRsE", target="_blank") ► ESCUCHAR 
    h3 The play <span>(indie rock) </span>
      a(href="https://youtu.be/dRh4VEK3RBg", target="_blank") ► ESCUCHAR
    h3 Tony Danza <span>(math rock/post hardcore) </span>
      a(href="https://youtu.be/pQaJccKjXTc", target="_blank") ► ESCUCHAR
    h3 Trepanador <span>(death metal) </span>
      a(href="https://youtu.be/4UVwcO3Yhio", target="_blank") ► ESCUCHAR
    h3 Trustor <span>(thrash metal) </span>
      a(href="https://youtu.be/fsmKjsxN2gs", target="_blank") ► ESCUCHAR 
    h3 Túpac yufunkuy <span>(funk) </span>
      a(href="https://youtu.be/Jd8gzYQHNtA", target="_blank") ► ESCUCHAR
    h3 X Dinero <span>(ska/ rock ligero) </span>
      a(href="https://www.youtube.com/watch?v=vzu2_LOXD4M", target="_blank") ► ESCUCHAR
    h2 BONUS      
    h3 Los incognitos <span>(rock 60s) </span>
      a(href="https://youtu.be/VtJNssN8OmE", target="_blank") ► ESCUCHAR
    h3 Los texao <span>(rock garage 60s) </span>
      a(href="https://youtu.be/lxFdf71vsuw", target="_blank") ► ESCUCHAR 
    h3 Free love system <span>(rock psicodélico 70s) </span>
      a(href="https://youtu.be/sC29t6yYsbs", target="_blank") ► ESCUCHAR
    h3 Baretto <span>(soft rock, progre 80-90s) </span>
      a(href="https://youtu.be/KOTM78es1xQ", target="_blank") ► ESCUCHAR
    h3 Playa cero <span>(rock, reggae 90s) </span>
      a(href="https://youtu.be/nODQJhpwq1M", target="_blank") ► ESCUCHAR
    h3 Konflicto interno <span>(anarkopunk 90s) </span>
      a(href="https://youtu.be/eIcsnXKcSK4", target="_blank") ► ESCUCHAR
//Fin contenido Arequipa