// Variables
$c_linea_borde : #a5a5a5;

// Estilos
.BuscadorEntidades,
.BuscadorEntidades * {
  box-sizing: border-box;
}
.BuscadorEntidades {
  width: 100%;
  @include breakpoint(tablet) {
    width: 260px;
  }

  &-content {
    border: 1px solid $c_linea_borde;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    position: relative;
    @include breakpoint(tablet) {
      height: 30px;
    }
    &:after {
      content: '';
      height: 0;
      clear: both;
      display: block;
    }
  }


  &-inputBox {
    float: left;
    border-radius: 5px;
    height: 30px;
    width: 70%;
    position: relative;
    z-index: 12;
  }
  .InputText {
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    color: $c_texto_base;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    outline: none;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    @include breakpoint(tablet) {
      line-height: 28px;
      height: 28px;
    }
  }
  &-paginador {
    border-left: 1px solid $c_linea_borde;
    float: right;
    height: 100%;
    position: relative;
    // width: 30%;
    z-index: 12;
    .contador {
      background-color: #fff;
      display: table;
      font-size: 12px;
      height: 100%;
      padding-left: 5px;
      padding-right: 23px;
      width: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      span.wrapper {
        display: table-cell;
        vertical-align: middle;
        span {
          display: inline-block;
          &:first-child {
            margin-right: 3px;
          }
          &:last-child {
            margin-left: 3px;
          }
        }

      }
    }
    .searchIcon {
      height: 15px;
      width: 15px;
      right: 5px;
      bottom: 0;
      top: 0;
      margin: auto 0;
      position: absolute;
      background: transparent url(../img/search-icon.png) 0 0 no-repeat;
      background-size: 15px 15px;
    }
  }

  &-listaResultados {
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-color: #fff;
    border: 1px solid $c_linea_borde;
    display: none;
    left: 0;
    max-height: 175px;
    overflow: hidden;
    position: absolute;
    top: 31px;
    width: 100%;
    z-index: 10;
    &.is-visible {
      display: block;
    }
    @include breakpoint(tablet) {
      top: 27px;
      max-height: 150px;
    }
  }
  &-itemResultados {
    background-color: #f2eded;
    cursor: pointer;
    font-size: 12px;
    height: 35px;
    line-height: 25px;
    width: 100%;
    padding: 5px;
    transition: background 0.4s;

    &:nth-child(even){
      background-color: #fff;
    }
    &:hover {
      background-color: $c_azul_base;
      color: #fff;
    }

    @include breakpoint(tablet) {
      height: 30px;
      line-height: 20px;
    }

  }

}
