/*---------------------------------------------------------------------------*
 * EnvioInstrucciones
----------------------------------------------------------------------------*/
.EnvioInstrucciones, .EnvioInstrucciones * {
  box-sizing: border-box;
}
.EnvioInstrucciones {
  // margin-top: 20px;
  .is-table {
    width: 100%;
    display: table;
  }
  &-row {
    width: 100%;
    display: table;
    &:after {
      clear: both;
      display: block;
      font-size: 0;
      content: ' ';
    }

    .col {
      position: relative;
      @include breakpoint(phablet) {
        vertical-align: top;
        display: table-cell;
        width: 50%;
        &:first-child {
          padding-right: 1%;
        }
      }
      .InputText {
        float: none;
        margin-bottom: 20px;
      }
      .BoxButton {
        position: relative;
        &.is-sent {
          padding-right: 35px;
          .BoxIcon {
            display: block;
          }
        }
      }
    }
  }
  &-col {
    // margin-bottom: 20px;
    @include breakpoint(tablet) {
      display: table-cell;
      vertical-align: middle;
      &:first-child {
        width: 50%;
      }
      &:last-child {
        width: 50%;
      }
    }    
  }

  // Ícono de mensaje enviado para el input de celular visible
  .BoxIcon {
    display: none;
    right: 0;
    top: 0;
    position: absolute;
    height: 35px;
    box-sizing: border-box;
    padding-top: 2px;
    .icon {
      display: inline-block;
    }
    .icon--mensajeEnviado {
      background: #fff url(../img/iconos_more.png) -190px -150px no-repeat;
      height: 31px;
      width: 31px;
    }
  }

  // --------------------------------------------------------------------------*
  // Módulo "FormulariosInstrucciones"
  // --------------------------------------------------------------------------*
  .FormulariosInstrucciones {
    @media print {
      display: none;
    }
    &-guia {
      color: $c_texto_base;
      font-size: 10px;
      display: table-cell;
      vertical-align: middle;
      width: 60px;
      text-align: center;
      margin-right: 7px;
      @include breakpoint(tablet) {
        margin-bottom: 0;
        padding-right: 10px;
        // padding-top: 14px;
        float: left;
        margin-top: 10px;
      }
    }
    &-content {
      display: table-cell;
      vertical-align: middle;
      padding-left: 7px;
      text-align: center;
      &:after {
        content: ' ';
        font-size: 0;
        height: 0;
        clear: both;
        display: block;
      }
    }    
    @include mq(tablet_mq) {
      display: flex;
      align-items: center;
      justify-content: center;  
      margin-top: 10px;
    }
  }

  // --------------------------------------------------------------------------*
  // Módulo "Logo"
  // --------------------------------------------------------------------------*
  .Logo {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
    width: 15%;
    text-align: right;
    @media print {
      float: right;
    }
    &-img {
      width: 112px;
      display: inline;
    }
    @include mq(tablet_mq) {
      display: block;
      width: 100%;
      text-align: center;  
    }
  }

  // --------------------------------------------------------------------------*
  // Contenedor de las cajas de texto visibles
  // --------------------------------------------------------------------------*
  .BoxInputVisible {
    width: 100%;
    @include breakpoint(tablet) {
      width: 98%;
      position: relative;
    }
  }
  // --------------------------------------------------------------------------*
  // Contenedor de las cajas de texto ocultas
  // --------------------------------------------------------------------------*
  .BoxInput {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #c5d2ea;
    float: left;
    margin-right: 5px;
    padding: 0;
    position: relative;
    &:hover {
      border: 1px solid $c_azul_base;
    }

    // --------------------------------------------------------------------------*
    // Caja para el botón Submit
    // --------------------------------------------------------------------------*
    .BoxButton {
      width: 45px;
      height: 40px;
      float: left;
    }

    // --------------------------------------------------------------------------*
    // Botones Submit
    // --------------------------------------------------------------------------*
    .BotonSubmit {
      background-color: #fff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      height: 40px;
      outline: none;
      overflow: hidden;
      width: 45px;
      text-align: left;
      padding: 0;
      &:focus, &:hover {
        outline: 0;
      }
      &:after {
        background: transparent url("../img/iconos_more.png") 0 0 no-repeat;
        background-size: 190px 100px;
        display: block;
        content: ' ';
        margin-left: 16px;
      }
      &:disabled{
        cursor: not-allowed;
        opacity: 0.65;
        background-color: #dededc;
      }
      // Celulalres
      &--celular {
        &:after {
          background-position: 0 0;
          height: 26px;
          width: 13px;
        }
        &.is-displayed:hover {
          background-color: $c_azul_base;
          &:after {
            background-position: 0 -26px;
          }
        }
        &.is-sent {
          background-color: $c_azul_base;
          &:after {
            width: 23px;
            background-position: 0 -72.5px;
          }
        }
      }
      // Botón para correo
      &--correo {
        &:after {
          background-position: -16px 0;
          height: 15.5px;
          width: 20px;
          margin-left: 13px;
        }
        &.is-displayed:hover {
          background-color: $c_azul_base;
          &:after {
            background-position: -16px -26px;
          }
        }
        &.is-sent {
          background-color: $c_azul_base;
          &:after {
            height: 19px;
            width: 28px;
            background-position: -26px -72.5px;
          }
        }
      }
      // Botón para impresión
      &--impresion {
        background-color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        height: 40px;
        outline: none;
        overflow: hidden;
        width: 45px;
        text-align: left;
        padding: 0;
        &:after {
          background: transparent url("../img/iconos_more.png") 0 0 no-repeat;
          background-size: 190px 100px;
          display: block;
          content: ' ';
          height: 22px;
          width: 22px;
          margin-left: 12px;
          background-position: -38px 0;
        }
      }
    }
  }

  // --------------------------------------------------------------------------*
  // Cajas de textos
  // --------------------------------------------------------------------------*
  .InputText {
    background: #fff;
    display: none;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    float: left;
    height: 40px;
    line-height: 30px;
    padding: 5px ;
    width: 110px;
    outline: none;
    &.is-visible {
      display: block;
    }
    &--celular {
      letter-spacing: 0.65px;
    }
    // Campo de texto de celular para el tab de pago en efectivo
    &--celularVisible {
      border: 1px solid #4B9AD2;
      background-color: #fff;
      border-radius: 5px;
      display: block;
      width: 100%;
      height: 35px;
      box-sizing: border-box;
      &:focus {
        border: 1px solid #4B9AD2;
      }
    }
  }


  // --------------------------------------------------------------------------*
  // Mensajes de error
  // --------------------------------------------------------------------------*
  label.error {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #db5461;
    box-sizing: border-box;
    color: #db5461;
    font-weight: $w_semibold;
    font-size: 12px;
    height: 27px;
    left: 50%;
    line-height: 25px;
    margin-left: -80px;
    position: absolute;
    text-align: center;
    top: -39px;
    width: 160px;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
      margin-left: -4px;
      left: 50%;
      bottom: -4px;
      position: absolute;
      z-index: 100;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: #db5462 transparent transparent transparent;
      margin-left: -5px;
      left: 50%;
      bottom: -6px;
      position: absolute;
    }

    // --------------------------------------------------------------------------*
    // Mensaje de error para el campo visible
    // --------------------------------------------------------------------------*
    &--sizefull {
      margin-left: 0;
      left: 0;
      width: 100%;
    }
  }
}
/*---------------------------------------------------------------------------*
 * Fin:EnvioInstrucciones
----------------------------------------------------------------------------*/
