/*---------------------------------------------------------------------------*
 * Ticket
----------------------------------------------------------------------------*/
// Colores
$c_borde_punteado : #ceddf8;
$c_fondo_barras   : #4380c6;
$c_fondo_total    : #f6f6f6;
$c_fondo_tiempo   : #e1ebfc;

// Estilos
.Ticket, .Ticket * {
  box-sizing: border-box;
}
.Ticket {
  // border: 2px dashed $c_borde_punteado;
  display: none;
  clear: both;
  float: none;
  margin: 0;
  overflow: hidden;
  // padding: 0px 10px 10px 10px;

  &.is-visible {
    display: block;
  }

  // --------------------------------------------------------------------------*
  // Estilos para todas las entidades
  // --------------------------------------------------------------------------*
  .strong {
    // font-weight: $w_semibold;
    // color: $c_texto_base;
    &.bold {
      font-weight: $w_bold;
    }
    &.blue {
      color: $c_texto_base_azul;
    }
  }
  .blue {
    color: $c_texto_base_azul;
  }
  &-title {
    color: $c_texto_base_azul;
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 3px;
    // margin-top: 12px;
  }

  &-guia {
    color: $c_texto_base;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    span{
      font-size: 28px;
      font-weight: 600;
      margin: 4px;
    } 
    p{
      margin:0
    } 
    a{
      &:hover{
        text-decoration: underline;
      }
    }  
  }
  
  &-content {
    display: block;
    width: 100%;
    a{
      white-space: nowrap;
      font-weight: 600;
      background: black;
      color: white;
      padding: 5px;
      font-size: 12px;
      -moz-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 1px transparent;
      box-shadow: 0 0 1px transparent;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition: transform .3s;
      -o-transition: transform .3s;
      transition: transform .3s;
      height: 28px;
      line-height: 20px;
      white-space: nowrap;
      float: right;
      &:hover{
        color: white;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }
      &:visited{
        color: white;
      }
      &:focus{
        color: white;
      }
    }
    
    h3{
      font-size: 19px;
      font-weight: 500;
      clear:both;
      span{
        max-width: 300px;
        display: inline-block;
      }
    }
    .row{
      width:100%;
      float: none;
      display: block;      
    }
    @include breakpoint(tablet) {
      .row{
        width:50%;
        float: left;
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }
}

/*---------------------------------------------------------------------------*
 * Fin:Ticket
----------------------------------------------------------------------------*/
